# ╭──────────────────────────────────────────────────────────────────────────────────╮
# │ 🟩 │ NODE │ NPM                                                                  │
# ╰──────────────────────────────────────────────────────────────────────────────────╯

node_modules/
npm-debug.log
.npmrc
.nvmrc

# ╭──────────────────────────────────────────────────────────────────────────────────╮
# │ 🏗️ │ LOCAL DEVELOPMENT │ BUILD-OUTPUT                                            │
# ╰──────────────────────────────────────────────────────────────────────────────────╯

.svelte-kit/
build/
dist/
cert/
debug/

# ╭──────────────────────────────────────────────────────────────────────────────────╮
# │ 💠 │ MISCELLENOUS                                                                │
# ╰──────────────────────────────────────────────────────────────────────────────────╯

.github/
.devcontainer/
.vscode/
.docs/
.docker/
.husky/
.eslintrc.yaml
.gitignore
.deepsource.toml
Procfile
README.md
CHANGELOG.md

# ╭──────────────────────────────────────────────────────────────────────────────────╮
# │ 🔑 │ SECRETS                                                                     │
# ╰──────────────────────────────────────────────────────────────────────────────────╯

env/placeholder/
.env*
.sentryclirc
!.env.vault
!.env.docker.file