# ╭──────────────────────────────────────────────────────────────────────────────────╮
# │ 🟩 │ NODE │ NPM                                                                  │
# ╰──────────────────────────────────────────────────────────────────────────────────╯

node_modules/
npm-debug.log
.npmrc
.nvmrc
pnpm-lock.yaml

# ╭──────────────────────────────────────────────────────────────────────────────────╮
# │ 🏗️ │ LOCAL DEVELOPMENT │ BUILD-OUTPUT                                            │
# ╰──────────────────────────────────────────────────────────────────────────────────╯

.svelte-kit/
.output/
build/
dist/
cert/
debug/
server/*.js
vite.config.ts.timestamp-*

# ╭──────────────────────────────────────────────────────────────────────────────────╮
# │ 💠 │ MISCELLENOUS                                                                │
# ╰──────────────────────────────────────────────────────────────────────────────────╯

.github/
.devcontainer/
.vscode/
.docs/
.docker/
.husky/
.temp/
.eslintrc.yaml
.gitignore
.deepsource.toml
.DS_Store
Procfile
README.md
CHANGELOG.md

# ╭──────────────────────────────────────────────────────────────────────────────────╮
# │ 🔑 │ SECRETS                                                                     │
# ╰──────────────────────────────────────────────────────────────────────────────────╯

env/placeholder/
.env*
.sentryclirc
!.env.vault
!.env.docker.file
.flaskenv*
!.env.project