# ╭─────
# │ NOTE: |:| standard project files
# ╰─────
node_modules
/build
/.svelte-kit
/package
/gif
certs/*

# ╭─────
# │ CRITICAL |:| project secrets (never uncomment)
# ╰─────
.env
.env*
.env.*
.sentryclirc
!.env.example
!.env.project
!.env.vault
.flaskenv*

# ╭─────
# │ NOTE: |:| miscelleaneous
# ╰─────
WEBSITE-DEV-README.md
datalog/
debug.log
debug/**/*/

# ╭─────
# │ NOTE:
# │ ➤ MacOS system files
# ┣─────
# │ 🔗 read-more |:| https://apple.stackexchange.com/questions/14980/why-are-dot-underscore-files-created-and-how-can-i-avoid-them
# ╰─────
.DS_Store
._*