# ▓ NOTE:
# ▓ > 📌 Project
node_modules
/build
/.svelte-kit
/package
/gif
certs/*

# ▓ CRITICAL
# ▓ > project secrets (never uncomment)
.env
.env*
.env.*
.sentryclirc
!.env.example
!.env.project
!.env.vault
.flaskenv*

# ▓ NOTE:
# ▓ > miscellenous
WEBSITE-DEV-README.md
datalog/
debug.log

# ▓ NOTE:
# ▓ > MacOS
.DS_Store
# ▓ @see :> https://apple.stackexchange.com/questions/14980/why-are-dot-underscore-files-created-and-how-can-i-avoid-them
._*