# ╭──────────────────────────────────────────────────────────────────────────────────╮
# │ 🟩 │ NODE │ NPM                                                                  │
# ╰──────────────────────────────────────────────────────────────────────────────────╯

node_modules/
vite.config.ts.timestamp-*

# ╭──────────────────────────────────────────────────────────────────────────────────╮
# │ 🏗️ │ LOCAL DEVELOPMENT │ BUILD-OUTPUT                                            │
# ╰──────────────────────────────────────────────────────────────────────────────────╯

.output/
.svelte-kit/
build/
dist/

# ╭──────────────────────────────────────────────────────────────────────────────────╮
# │ 💠 │ MISCELLENOUS                                                                │
# ╰──────────────────────────────────────────────────────────────────────────────────╯

.temp/
WEBSITE-DEV-README.md
datalog/
debug.log
debug/

# ╭──────────────────────────────────────────────────────────────────────────────────╮
# │ 🔑 │ SECRETS                                                                     │
# ╰──────────────────────────────────────────────────────────────────────────────────╯

.env*
!.env.vault
!.env*placeholder*
!.env.docker.file
.sentryclirc

# ╭──────────────────────────────────────────────────────────────────────────────────╮
# │ 🐳 │ DOCKER                                                                      │
# ╰──────────────────────────────────────────────────────────────────────────────────╯

.docker/*export
.docker/docker-compose.output.yml
.docker/goaccess/*.html
.docker/nginx/logs
.docker/nginx/cache
.docker/prometheus/password.txt
.docker/scores*
.docker/sitespeedio

# ╭──────────────────────────────────────────────────────────────────────────────────╮
# │ 💻 │ MACOS                                                                       │
# ╰──────────────────────────────────────────────────────────────────────────────────╯

**/.DS_Store
**/._*
.flaskenv*

# ╭──────────────────────────────────────────────────────────────────────────────────╮
# │ 💻 │ WINDOWS stackdumps                                                          │
# ╰──────────────────────────────────────────────────────────────────────────────────╯

*.stackdump