{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
  "singleAttributePerLine": true,
  "bracketSameLine": false,
	"printWidth": 120, 
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
  "svelteSortOrder" : "scripts-options-markup-styles",
  "svelteStrictMode": false,
  "svelteAllowShorthand": true
}