body {
  --radius-xs: 4px;
  --radius-md: 8px;
  --radius-xl: 12px;

  --spacing-xs: 4px;
  --spacing-sm: 6px;
  --spacing-md: 8px;
  --spacing-lg: 12px;
  --spacing-xl: 16px;
  --spacing-4xl: 32px;
  --spacing-5xl: 40px;


  --Font-family-font-family-display: Roboto;
  --Font-size-display-xs: 24px;
    --Font-size-text-sm: 14px;
  --Font-size-text-md: 16px;
  --Line-height-text-sm: 20px;
    --Line-height-display-xs: 32px;
  --Line-height-text-md: 24px;

  --white: #FFFFFF;
  --colors-gray-light-mode-900: #313131;
  --Background-bg-brand-primary: #FEEFE7;
  --Colors-Brand-Brand-5: #F5620F;
  --Colors-Brand-4: #F77D38;
  --Text-Text-white: #fff;

  --Background-bg-error-solid: #FF3C3C;

  /* Shadows/shadow-xl */
    --box-shadow: 0px 20px 24px -4px rgba(41, 41, 41, 0.08),
      0px 0px 8px 0px rgba(41, 41, 41, 0.08);
}