body {
  --radius-none: 0px;
  --radius-xxs: 2px;
  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 10px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 20px;
    --radius-4xl: 24px;
    --radius-full: 9999px;

  --spacing-none: 0px;
  --spacing-xxs: 2px;
  --spacing-xs: 4px;
  --spacing-sm: 6px;
  --spacing-md: 8px;
  --spacing-lg: 12px;
  --spacing-xl: 16px;
  --spacing-2xl: 20px;
  --spacing-3xl: 24px;
  --spacing-4xl: 32px;
  --spacing-5xl: 40px;
  --spacing-6xl: 48px;
  --spacing-7xl: 64px;
    --spacing-8xl: 80px;
    --spacing-9xl: 96px;
    --spacing-10xl: 128px;
    --spacing-11xl: 160px;
  --width-xxs: 320px;
    --width-sm: 480px;
    --width-lg: 640px;
    --width-xl: 768px;
    --width-2xl: 1024px;
    --width-3xl: 1280px;
    --width-4xl: 1440px;
    --width-5xl: 1600px;
    --width-6xl: 1920px;
    --width-md: 560px;
    --paragraph-max-width: 720px;
    --width-xs: 384px;
  --container-max-width-desktop: 1280px;
    --container-padding-desktop: 32px;
    --container-padding-mobile: 16px;
  --spacing-0--0px-: 0px;
    --spacing-0-5--2px-: 2px;
    --spacing-1--4px-: 4px;
    --spacing-2--8px-: 8px;
    --spacing-3--12px-: 12px;
    --spacing-4--16px-: 16px;
    --spacing-5--20px-: 20px;
    --spacing-6--24px-: 24px;
    --spacing-8--32px-: 32px;
    --spacing-10--40px-: 40px;
    --spacing-12--48px-: 48px;
    --spacing-16--64px-: 64px;
    --spacing-20--80px-: 80px;
    --spacing-24--96px-: 96px;
    --spacing-32--128px-: 128px;
    --spacing-40--160px-: 160px;
    --spacing-48--192px-: 192px;
    --spacing-56--224px-: 224px;
    --spacing-64--256px-: 256px;
    --spacing-96--384px-: 384px;
    --spacing-80--320px-: 320px;
    --spacing-120--480px-: 480px;
    --spacing-160--640px-: 640px;
    --spacing-192--768px-: 768px;
    --spacing-256--1-024px-: 1024px;
    --spacing-320--1-280px-: 1280px;
    --spacing-360--1-440px-: 1440px;
    --spacing-400--1-600px-: 1600px;
    --spacing-480--1-920px-: 1920px;
    --spacing-1-5--6px-: 6px;
    --spacing-140--560px-: 560px;
    --spacing-180--720px-: 720px;


  --Font-family-font-family-display: Roboto;
  --Font-size-display-xs: 24px;
  --Font-size-text-sm: 14px;
  --Font-size-text-md: 16px;
  --Line-height-text-sm: 20px;
  --Line-height-display-xs: 32px;
  --Line-height-text-md: 24px;

  --white: #FFFFFF;
  --colors-gray-light-mode-900: #313131;
  --Background-bg-brand-primary: #FEEFE7;
  --Colors-Brand-Brand-5: #F5620F;
  --Colors-Brand-4: #F77D38;
  --Text-Text-white: #fff;

  --Background-bg-error-solid: #FF3C3C;

  /* Shadows/shadow-xl */
  --box-shadow: 0px 20px 24px -4px rgba(41, 41, 41, 0.08),
    0px 0px 8px 0px rgba(41, 41, 41, 0.08);
  --colors-gray-gray-1: #F7F7F7;
  --colors-gray-gray-2: #D2D2D2;
    --colors-gray-gray-3: #9D9D9D;
    --colors-gray-gray-4: #727171;
    --colors-gray-gray-5: #525252;
    --colors-gray-gray-6: #3C3C3C;
    --colors-gray-gray-7: #292929;
    --colors-brand-brand-1: #FEEFE7;
    --colors-brand-brand-2: #FBBF9D;
    --colors-brand-brand-3: #F9A474;
    --colors-brand-brand-4: #F77D38;
    --colors-brand-brand-5: #F5620F;
    --colors-brand-brand-6: #AC450B;
    --colors-brand-brand-7: #953C09;
    --colors-warning-warning-1: #FDF4E6;
    --colors-warning-warning-2: #F5D398;
    --colors-warning-warning-3: #F1C16D;
    --colors-warning-warning-4: #EBA62F;
    --colors-warning-warning-5: #E79404;
    --colors-warning-warning-6: #A26803;
    --colors-warning-warning-7: #8D5A02;
    --colors-error-error-1: #FFECEC;
    --colors-error-error-2: #FFAFAF;
    --colors-error-error-3: #FF8E8E;
    --colors-error-error-4: #FF5D5D;
    --colors-error-error-5: #FF3C3C;
    --colors-error-error-6: #B32A2A;
    --colors-error-error-7: #9C2525;
    --colors-success-success-1: #EDF9ED;
    --colors-success-success-2: #B5E5B6;
    --colors-success-success-3: #96DA97;
    --colors-success-success-4: #69CA6A;
    --colors-success-success-5: #4ABF4C;
    --colors-success-success-6: #348635;
    --colors-success-success-7: #2D752E;
  --shadows-shadow-xs: 0px 1px 2px 0px rgba(41, 41, 41, 0);
    --shadows-shadow-sm: 0px 1px 2px 0px rgba(41, 41, 41, 0), 0px 1px 3px 0px rgba(41, 41, 41, 0);
    --shadows-shadow-md: 0px 2px 4px -2px rgba(41, 41, 41, 0), 0px 4px 8px -2px rgba(41, 41, 41, 0);
    --shadows-shadow-lg: 0px 4px 6px -2px rgba(41, 41, 41, 0), 0px 12px 16px -4px rgba(41, 41, 41, 0);
    --shadows-shadow-xl: 0px 0px 8px 0px rgba(41, 41, 41, 0), 0px 20px 24px -4px rgba(41, 41, 41, 0);
    --shadows-shadow-2xl: 0px 24px 48px -12px rgba(41, 41, 41, 0);
    --shadows-shadow-3xl: 0px 32px 64px -12px rgba(41, 41, 41, 0);
    --shadows-shadow-brand-md: 0px 3px 8px 0px rgba(245, 98, 15, 0);
    --shadows-shadow-success-md: 0px 3px 8px 0px rgba(74, 191, 76, 0);
    --focus-rings-ring-brand-2px: 0px 0px 0px 2px #F9A474;
    --focus-rings-ring-brand-4px: 0px 0px 0px 4px rgba(245, 98, 15, 0);
    --focus-rings-ring-gray-4px: 0px 0px 0px 4px rgba(41, 41, 41, 0);
    --focus-rings-ring-success-4px: 0px 0px 0px 4px rgba(74, 191, 76, 0);
    --focus-rings-ring-error-4px: 0px 0px 0px 4px rgba(255, 60, 60, 0);
    --text-xs-regular: 12px;
    --text-xs-medium: 12px;
    --text-xs-semibold: 12px;
    --text-xs-bold: 12px;
    --text-sm-regular: 14px;
    --text-sm-medium: 14px;
    --text-sm-semibold: 14px;
    --text-sm-bold: 14px;
    --text-md-regular: 16px;
    --text-md-medium: 16px;
    --text-md-semibold: 16px;
    --text-md-bold: 16px;
    --text-lg-regular: 18px;
    --text-lg-medium: 18px;
    --text-lg-semibold: 18px;
    --text-lg-bold: 18px;
    --text-xl-regular: 20px;
    --text-xl-medium: 20px;
    --text-xl-semibold: 20px;
    --text-xl-bold: 20px;
    --display-xs-regular: 24px;
    --display-xs-medium: 24px;
    --display-xs-semibold: 24px;
    --display-xs-bold: 24px;
    --display-sm-regular: 30px;
    --display-sm-medium: 30px;
    --display-sm-semibold: 30px;
    --display-sm-bold: 30px;
    --display-md-regular: 36px;
    --display-md-medium: 36px;
    --display-md-semibold: 36px;
    --display-md-bold: 36px;
    --display-lg-regular: 48px;
    --display-lg-medium: 48px;
    --display-lg-semibold: 48px;
    --display-lg-bold: 48px;
    --display-xl-regular: 60px;
    --display-xl-medium: 60px;
    --display-xl-semibold: 60px;
    --display-xl-bold: 60px;
    --display-2xl-regular: 72px;
    --display-2xl-medium: 72px;
    --display-2xl-semibold: 72px;
    --display-2xl-bold: 72px;
  }

  :root {
    /* _PRIMITIVES */
    --colors-gray-1: #f7f7f7;
    --colors-gray-2: #e6e6e6;
    --colors-gray-3: #cccccc;
    --colors-gray-4: #8c8c8c;
    --colors-gray-5: #4b4b4b;
    --colors-gray-6: #313131;
    --colors-gray-7: #292929;
    --colors-brand-1: #feefe7;
    --colors-brand-2: #ffd6be;
    --colors-brand-3: #f9a474;
    --colors-brand-4: #f77d38;
    --colors-brand-5: #f5620f;
    --colors-brand-6: #ac450b;
    --colors-brand-7: #953c09;
    --colors-base-white: #ffffff;
    --colors-base-black: #000000;
    --colors-error-1: #ffecec;
    --colors-error-2: #ffafaf;
    --colors-error-3: #ff8e8e;
    --colors-error-4: #ff5d5d;
    --colors-error-5: #ff3c3c;
    --colors-error-6: #b32a2a;
    --colors-error-7: #9c2525;
    --colors-success-1: #edf9ed;
    --colors-success-2: #b5e5b6;
    --colors-success-3: #96da97;
    --colors-success-4: #69ca6a;
    --colors-success-5: #4abf4c;
    --colors-success-6: #348635;
    --colors-success-7: #2d752e;
    --colors-warning-1: #fdf4e6;
    --colors-warning-2: #f5d398;
    --colors-warning-3: #f1c16d;
    --colors-warning-4: #eba62f;
    --colors-warning-5: #e79404;
    --colors-warning-6: #a26803;
    --colors-warning-7: #8d5a02;
  /* 3. SPACING */
    --spacing-none: 0px;
    --spacing-none-rem: 0rem;
    --spacing-xxs: 2px;
    --spacing-xxs-rem: 0.125rem;
    --spacing-xs: 4px;
    --spacing-xs-rem: 0.25rem;
    --spacing-md: 8px;
    --spacing-md-rem: 0.5rem;
    --spacing-lg: 12px;
    --spacing-lg-rem: 0.75rem;
    --spacing-xl: 16px;
    --spacing-xl-rem: 1rem;
    --spacing-2xl: 20px;
    --spacing-2xl-rem: 1.25rem;
    --spacing-3xl: 24px;
    --spacing-3xl-rem: 1.5rem;
    --spacing-4xl: 32px;
    --spacing-4xl-rem: 2rem;
    --spacing-6xl: 48px;
    --spacing-6xl-rem: 3rem;
    --spacing-7xl: 64px;
    --spacing-7xl-rem: 4rem;
    --spacing-8xl: 80px;
    --spacing-8xl-rem: 5rem;
    --spacing-9xl: 96px;
    --spacing-9xl-rem: 6rem;
    --spacing-10xl: 128px;
    --spacing-10xl-rem: 8rem;
    --spacing-11xl: 160px;
    --spacing-11xl-rem: 10rem;
    --spacing-sm: 6px;
    --spacing-sm-rem: 0.375rem;
    --spacing-5xl: 40px;
    --spacing-5xl-rem: 2.5rem;

    /* 4. WIDTHS */
    --width-xxs: 320px;
    --width-xxs-rem: 20rem;
    --width-sm: 480px;
    --width-sm-rem: 30rem;
    --width-lg: 640px;
    --width-lg-rem: 40rem;
    --width-xl: 768px;
    --width-xl-rem: 48rem;
    --width-2xl: 1024px;
    --width-2xl-rem: 64rem;
    --width-3xl: 1280px;
    --width-3xl-rem: 80rem;
    --width-4xl: 1440px;
    --width-4xl-rem: 90rem;
    --width-5xl: 1600px;
    --width-5xl-rem: 100rem;
    --width-6xl: 1920px;
    --width-6xl-rem: 120rem;
    --width-md: 560px;
    --width-md-rem: 35rem;
    --paragraph-max-width: 720px;
    --paragraph-max-width-rem: 45rem;
    --width-xs: 384px;
    --width-xs-rem: 24rem;

    /* 5. CONTAINERS */
    --container-max-width-desktop: 1280px;
    --container-max-width-desktop-rem: 80rem;
    --container-padding-desktop: 32px;
    --container-padding-desktop-rem: 2rem;
    --container-padding-mobile: 16px;
    --container-padding-mobile-rem: 1rem;

    /* 2. RADIUS */
    --radius-none: 0px;
    --radius-none-rem: 0rem;
    --radius-xxs: 2px;
    --radius-xxs-rem: 0.125rem;
    --radius-xs: 4px;
    --radius-xs-rem: 0.25rem;
    --radius-sm: 6px;
    --radius-sm-rem: 0.375rem;
    --radius-md: 8px;
    --radius-md-rem: 0.5rem;
    --radius-xl: 12px;
    --radius-xl-rem: 0.75rem;
    --radius-2xl: 16px;
    --radius-2xl-rem: 1rem;
    --radius-4xl: 24px;
    --radius-4xl-rem: 1.5rem;
    --radius-full: 9999px;
    --radius-full-rem: 624.9375rem;
    --radius-lg: 10px;
    --radius-lg-rem: 0.625rem;
    --radius-3xl: 20px;
    --radius-3xl-rem: 1.25rem;

    /* _PRIMITIVE SPACINGS */
    --spacing-0-0px: 0px;
    --spacing-0-0px-rem: 0rem;
    --spacing-0-5-2px: 2px;
    --spacing-0-5-2px-rem: 0.125rem;
    --spacing-1-4px: 4px;
    --spacing-1-4px-rem: 0.25rem;
    --spacing-2-8px: 8px;
    --spacing-2-8px-rem: 0.5rem;
    --spacing-3-12px: 12px;
    --spacing-3-12px-rem: 0.75rem;
    --spacing-4-16px: 16px;
    --spacing-4-16px-rem: 1rem;
    --spacing-5-20px: 20px;
    --spacing-5-20px-rem: 1.25rem;
    --spacing-6-24px: 24px;
    --spacing-6-24px-rem: 1.5rem;
    --spacing-8-32px: 32px;
    --spacing-8-32px-rem: 2rem;
    --spacing-10-40px: 40px;
    --spacing-10-40px-rem: 2.5rem;
    --spacing-12-48px: 48px;
    --spacing-12-48px-rem: 3rem;
    --spacing-16-64px: 64px;
    --spacing-16-64px-rem: 4rem;
    --spacing-20-80px: 80px;
    --spacing-20-80px-rem: 5rem;
    --spacing-24-96px: 96px;
    --spacing-24-96px-rem: 6rem;
    --spacing-32-128px: 128px;
    --spacing-32-128px-rem: 8rem;
    --spacing-40-160px: 160px;
    --spacing-40-160px-rem: 10rem;
    --spacing-48-192px: 192px;
    --spacing-48-192px-rem: 12rem;
    --spacing-56-224px: 224px;
    --spacing-56-224px-rem: 14rem;
    --spacing-64-256px: 256px;
    --spacing-64-256px-rem: 16rem;
    --spacing-96-384px: 384px;
    --spacing-96-384px-rem: 24rem;
    --spacing-80-320px: 320px;
    --spacing-80-320px-rem: 20rem;
    --spacing-120-480px: 480px;
    --spacing-120-480px-rem: 30rem;
    --spacing-160-640px: 640px;
    --spacing-160-640px-rem: 40rem;
    --spacing-192-768px: 768px;
    --spacing-192-768px-rem: 48rem;
    --spacing-256-1-024px: 1024px;
    --spacing-256-1-024px-rem: 64rem;
    --spacing-320-1-280px: 1280px;
    --spacing-320-1-280px-rem: 80rem;
    --spacing-360-1-440px: 1440px;
    --spacing-360-1-440px-rem: 90rem;
    --spacing-400-1-600px: 1600px;
    --spacing-400-1-600px-rem: 100rem;
    --spacing-480-1-920px: 1920px;
    --spacing-480-1-920px-rem: 120rem;
    --spacing-1-5-6px: 6px;
    --spacing-1-5-6px-rem: 0.375rem;
    --spacing-140-560px: 560px;
    --spacing-140-560px-rem: 35rem;
    --spacing-180-720px: 720px;
    --spacing-180-720px-rem: 45rem;
//fonts
  --font-family-font-family-display: Roboto;
  --font-family-font-family-body: Roboto;
  --font-size-display-xs: 24px;
  --font-size-text-sm: 14px;
  --font-size-text-md: 16px;
  --line-height-text-sm: 20px;
  --line-height-display-xs: 32px;
  --line-height-text-md: 24px;
  --colors-border-border-brand: #F5620F;
  --colors-foreground-fg-brand-primary-500: #F5620F;
  --colors-foreground-fg-quaternary-500: #727171;
}
//BTA-2.0
/* _Primitives - Style */
:root {
  --colors-base-white: #ffffff;
  --colors-base-black: #000000;
  --colors-base-transparent: #ffffff00;
  --colors-gray-25: #fcfcfd;
  --colors-gray-50: #fbfbfb;
  --colors-gray-100: #f7f7f7;
  --colors-gray-200: #ededed;
  --colors-gray-300: #d2d2d2;
  --colors-gray-400: #8c8c8c;
  --colors-gray-500: #727171;
  --colors-gray-600: #6a6a6a;
  --colors-gray-700: #525252;
  --colors-gray-800: #3b3b3b;
  --colors-gray-900: #313131;
  --colors-gray-950: #1f1f1f;
  --colors-brand-25: #fffaf8;
  --colors-brand-50: #fef5f0;
  --colors-brand-100: #feece2;
  --colors-brand-200: #fcd5c0;
  --colors-brand-300: #faaf85;
  --colors-brand-400: #f7813f;
  --colors-brand-500: #f5620f;
  --colors-brand-600: #d4550c;
  --colors-brand-700: #ae460b;
  --colors-brand-800: #873608;
  --colors-brand-900: #672906;
  --colors-brand-950: #672906;
  --colors-error-25: #fffbfa;
  --colors-error-50: #fef3f2;
  --colors-error-100: rgba(254, 228, 226, 1);
  --colors-error-200: rgba(254, 205, 202, 1);
  --colors-error-300: rgba(253, 162, 155, 1);
  --colors-error-400: rgba(249, 112, 102, 1);
  --colors-error-500: rgba(255, 60, 60, 1);
  --colors-error-600: rgba(234, 43, 43, 1);
  --colors-error-700: rgba(199, 35, 35, 1);
  --colors-error-800: rgba(151, 26, 26, 1);
  --colors-error-900: rgba(111, 18, 18, 1);
  --colors-error-950: rgba(88, 14, 14, 1);
  --colors-warning-25: rgba(255, 252, 245, 1);
  --colors-warning-50: rgba(255, 250, 235, 1);
  --colors-warning-100: rgba(254, 240, 199, 1);
  --colors-warning-200: rgba(254, 223, 137, 1);
  --colors-warning-300: rgba(254, 200, 75, 1);
  --colors-warning-400: rgba(253, 176, 34, 1);
  --colors-warning-500: rgba(247, 144, 9, 1);
  --colors-warning-600: rgba(220, 104, 3, 1);
  --colors-warning-700: rgba(181, 71, 8, 1);
  --colors-warning-800: rgba(147, 55, 13, 1);
  --colors-warning-900: rgba(122, 46, 14, 1);
  --colors-warning-950: rgba(78, 29, 9, 1);
  --colors-success-25: rgba(246, 254, 249, 1);
  --colors-success-50: rgba(236, 253, 243, 1);
  --colors-success-100: rgba(220, 250, 230, 1);
  --colors-success-200: rgba(171, 239, 198, 1);
  --colors-success-300: rgba(117, 224, 167, 1);
  --colors-success-400: rgba(71, 205, 137, 1);
  --colors-success-500: rgba(23, 178, 106, 1);
  --colors-success-600: rgba(7, 148, 85, 1);
  --colors-success-700: rgba(6, 118, 71, 1);
  --colors-success-800: rgba(8, 93, 58, 1);
  --colors-success-900: rgba(7, 77, 49, 1);
  --colors-success-950: rgba(5, 51, 33, 1);
  --spacing-0: 0px;
  --spacing-0․5: 2px;
  --spacing-1: 4px;
  --spacing-1․5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-8: 32px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-16: 64px;
  --spacing-20: 80px;
  --spacing-24: 96px;
  --spacing-32: 128px;
  --spacing-40: 160px;
  --spacing-48: 192px;
  --spacing-56: 224px;
  --spacing-64: 256px;
  --spacing-80: 320px;
  --spacing-96: 384px;
  --spacing-120: 480px;
  --spacing-140: 560px;
  --spacing-160: 640px;
  --spacing-180: 720px;
  --spacing-192: 768px;
  --spacing-256: 1024px;
  --spacing-320: 1280px;
  --spacing-360: 1440px;
  --spacing-400: 1600px;
  --spacing-480: 1920px;
}

/* 5. Containers - Value */
:root {
  --container-padding-mobile: var(--spacing-4);
  --container-padding-desktop: var(--spacing-8);
  --container-max-width-desktop: var(--spacing-320);
}

/* 4. Widths - Mode 1 */
:root {
  --width-xxs: var(--spacing-80);
  --width-xs: var(--spacing-96);
  --width-sm: var(--spacing-120);
  --width-md: var(--spacing-140);
  --width-lg: var(--spacing-160);
  --width-xl: var(--spacing-192);
  --width-2xl: var(--spacing-256);
  --width-3xl: var(--spacing-320);
  --width-4xl: var(--spacing-360);
  --width-5xl: var(--spacing-400);
  --width-6xl: var(--spacing-480);
  --paragraph-max-width: var(--spacing-180);
}


/* 3. Spacing - Mode 1 */
:root {
  --spacing-none: var(--spacing-0);
  --spacing-xxs: var(--spacing-0․5);
  --spacing-xs: var(--spacing-1);
  --spacing-sm: var(--spacing-1․5);
  --spacing-md: var(--spacing-2);
  --spacing-lg: var(--spacing-3);
  --spacing-xl: var(--spacing-4);
  --spacing-2xl: var(--spacing-5);
  --spacing-3xl: var(--spacing-6);
  --spacing-4xl: var(--spacing-8);
  --spacing-5xl: var(--spacing-10);
  --spacing-6xl: var(--spacing-12);
  --spacing-7xl: var(--spacing-16);
  --spacing-8xl: var(--spacing-20);
  --spacing-9xl: var(--spacing-24);
  --spacing-10xl: var(--spacing-32);
  --spacing-11xl: var(--spacing-40);
}

/* 2. Radius - Mode 1 */
:root {
  --radius-none: 0px;
  --radius-xxs: 2px;
  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 10px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 20px;
  --radius-4xl: 24px;
  --radius-full: 9999px;
}


/* 6. Typography - Value */
:root {
  --font-family-font-family-display: Roboto;
  --font-family-font-family-body: Roboto;
  --font-weight-regular: Regular;
  --font-weight-regular-italic: Regular italic;
  --font-weight-medium: Medium;
  --font-weight-medium-italic: Medium italic;
  --font-weight-semibold: Semibold;
  --font-weight-semibold-italic: Semibold italic;
  --font-weight-bold: Bold;
  --font-weight-bold-italic: Bold italic;
  --font-size-text-xs: 12px;
  --line-height-text-xs: 18px;
  --line-height-text-sm: 20px;
  --line-height-text-md: 24px;
  --line-height-text-lg: 28px;
  --line-height-text-xl: 30px;
  --line-height-display-xs: 32px;
  --line-height-display-sm: 38px;
  --line-height-display-md: 44px;
  --line-height-display-lg: 60px;
  --line-height-display-xl: 72px;
  --line-height-display-2xl: 90px;
  --font-size-text-sm: 14px;
  --font-size-text-md: 16px;
  --font-size-text-lg: 18px;
  --font-size-text-xl: 20px;
  --font-size-display-xs: 24px;
  --font-size-display-sm: 30px;
  --font-size-display-md: 36px;
  --font-size-display-lg: 48px;
  --font-size-display-xl: 60px;
  --font-size-display-2xl: 72px;
}