.dark-mode {
  --text-color: #FFFFFF;
  --text-color-second: #cccccc;
  --text-color-second-dark: #8c8c8c;

  --icon-color: #8c8c8c;
  --icon-color-light: #A8A8A8;

  --bg-color-rgb-consts: 41, 41, 41;
  --bg-color: rgb(var(--bg-color-rgb-consts));

  --layout-bg-color: rgba(29, 29, 29, 1);

  --bg-color-second-rgb-consts: 49, 49, 49;
  --bg-color-second: rgb(var(--bg-color-second-rgb-consts));

  --border-color-light: #4B4B4B;
  --border-color: #4B4B4B;
  --bg-hover-color: #4B4B4B;

  --button-secondary-bg: #4B4B4B;

  --section-border: 1px solid var(--border-color);
  --border: 1px solid var(--border-color);
  --header-border: 1px solid #383838;

  //Mobile-Menu
  --mobile-menu-bg-color: rgba(var(--bg-color-second-rgb-consts), 0.7);
  --mobile-menu-bg-popup: rgba(var(--bg-color-rgb-consts), 0.8);
  --box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
  ;

  --tag-bg: #4B4B4B;

  //colors
  --popup-bg-color: #4b4b4b;
  --popup-contrast-color: #3E3E3E;
  --popup-hover-color: #3D3D3D;
}

.dark-mode {
  --background-bg-primary: var(--colors-gray-7);
  --background-bg-secondary: var(--colors-gray-6);
  --background-bg-primary_hover: var(--colors-gray-6);
  --background-bg-secondary_hover: var(--colors-gray-5);
  --background-bg-tertiary: var(--colors-gray-5);
  --background-bg-tertiary_hover: var(--colors-gray-4);
  --background-bg-brand-solid: var(--colors-brand-5);
  --text-text-primary: var(--colors-base-white);
  --text-text-secondary: var(--colors-gray-2);
  --text-text-tertiary: var(--colors-gray-3);
  --text-text-white: var(--colors-base-white);
  --button-primary-button-primary-bg: var(--colors-brand-5);
  --button-primary-button-primary-bg_hover: var(--colors-brand-4);
  --button-primary-button-primary-text: var(--text-text-white);
  --foreground-fg-white: var(--colors-base-white);
  --border-border-brand: var(--colors-brand-4);
  --border-border-brand-subtle: var(--colors-brand-3);
  --foreground-fg-primary: var(--colors-base-white);
  --foreground-fg-secondary: var(--colors-gray-2);
  --foreground-fg-tertiary: var(--colors-gray-3);
  --text-text-disabled: var(--colors-gray-4);
  --text-text-placeholder: var(--colors-gray-4);
  --border-border-primary: var(--colors-gray-4);
  --border-border-secondary: var(--colors-gray-5);
  --button-link-brand-button-link-brand-color: var(--colors-brand-5);
  --button-link-brand-button-link-brand-color-fg: var(--colors-brand-4);
  --button-link-brand-button-link-brand-color_hover: var(--colors-brand-4);
  --foreground-fg-disabled: var(--colors-gray-4);
  --button-link-gray-button-link-gray-color: var(--colors-gray-3);
  --button-link-gray-button-link-gray-color_hover: var(--colors-brand-5);
  --button-link-gray-button-link-gray-color-fg: var(--colors-gray-3);
  --button-secondary-outline-brand-button-secondary-brand-border: var(--colors-brand-5);
  --button-secondary-outline-brand-button-secondary-brand-border_hover: var(--colors-brand-4);
  --button-secondary-outline-brand-button-secondary-brand-text: var(--colors-brand-5);
  --button-secondary-outline-brand-button-secondary-brand-text_hover: var(--colors-brand-4);
  --button-secondary-outline-brand-button-secondary-brand-fg: var(--colors-brand-5);
  --button-secondary-outline-brand-button-secondary-brand-fg_hover: var(--colors-brand-4);
  --background-bg-disabled: var(--colors-gray-6);
  --border-border-disabled: var(--colors-gray-6);
  --button-secondary-outline-negative-button-secondary-negative-border: var(--colors-base-white);
  --button-secondary-outline-negative-button-secondary-negative-border_hover: var(--colors-brand-5);
  --button-secondary-outline-negative-button-secondary-negative-text: var(--colors-text-text-white);
  --button-secondary-outline-negative-button-secondary-negative-text_hover: var(--colors-brand-5);
  --button-secondary-outline-negative-button-secondary-negative-fg: var(--colors-foreground-fg-white);
  --button-secondary-outline-negative-button-secondary-negative-fg_hover: var(--colors-brand-5);
  --border-border-brand-solid: var(--colors-brand-5);
  --badge-gray-badge-gray-bg: var(--background-bg-secondary);
  --badge-gray-badge-gray-text: var(--colors-base-white);
  --badge-gray-badge-gray-fg: var(--colors-gray-3);
  --background-bg-error-solid: var(--colors-error-5);
  --button-secondary-filled-button-secondary-filled-bg: var(--colors-gray-5);
  --button-secondary-filled-button-secondary-filled-bg_hover: var(--colors-gray-4);
  --button-secondary-filled-button-secondary-filled-text: var(--text-text-white);
  --button-primary-success-button-primary-success-bg: var(--colors-success-5);
  --button-primary-success-button-primary-success-bg_hover: var(--colors-success-4);
  --button-primary-success-button-primary-success-text: var(--text-text-white);
  --background-bg-warning-solid: var(--colors-warning-5);
  --background-bg-success-solid: var(--colors-success-5);
  --button-secondary-outline-gray-button-secondary-gray-border: var(--colors-gray-4);
  --button-secondary-outline-gray-button-secondary-gray-border_hover: var(--colors-brand-5);
  --button-secondary-outline-gray-button-secondary-gray-text: var(--colors-text-text-white);
  --button-secondary-outline-gray-button-secondary-gray-text_hover: var(--colors-brand-5);
  --button-secondary-outline-gray-button-secondary-gray-fg: var(--colors-foreground-fg-white);
  --button-secondary-outline-gray-button-secondary-gray-fg_hover: var(--colors-brand-5);
  --foreground-fg-disabled-subtle: var(--colors-gray-5);
  --text-text-quarternary: var(--colors-gray-4);
  --text-text-error-primary: var(--colors-error-5);
  --border-border-error: var(--colors-error-4);
  --text-text-quinary: var(--colors-gray-5);
  --foreground-fg-brand-primary: var(--colors-brand-5);
  --background-bg-brand-primary: var(--colors-brand-7);
  --text-text-error-secondary: var(--colors-error-6);
  --text-text-brand-primary: var(--colors-brand-5);
  --text-text-brand-secondary: var(--colors-brand-6);
  --background-bg-brand-secondary: var(--colors-brand-6);
  --foreground-fg-success-primary: var(--colors-success-5);
  --foreground-fg-success-secondary: var(--colors-success-6);
  --background-bg-success-primary: var(--colors-success-7);
  --background-bg-success-secondary: var(--colors-success-6);
  --background-bg-error-primary: var(--colors-error-7);
  --background-bg-error-secondary: var(--colors-error-6);
  --foreground-fg-error-primary: var(--colors-error-5);
  --foreground-fg-error-secondary: var(--colors-error-6);
  --badge-brand-badge-brand-bg: var(--colors-brand-5);
  --badge-brand-badge-brand-text: var(--colors-base-white);
  --badge-brand-badge-brand-fg: var(--colors-brand-2);
  --border-border-tertiary: var(--colors-gray-6);
  --badge-error-badge-error-bg: var(--background-bg-error-primary);
  --badge-error-badge-error-text: var(--text-text-white);
  --badge-error-badge-error-fg: var(--foreground-fg-error-secondary);
  --button-primary-error-button-primary-error-bg: var(--colors-error-5);
  --button-primary-error-button-primary-error-bg_hover: var(--colors-error-4);
  --button-primary-error-button-primary-error-text: var(--text-text-white);
  --button-secondary-outline-error-button-secondary-error-border: var(--colors-error-5);
  --button-secondary-outline-error-button-secondary-error-border_hover: var(--colors-error-4);
  --button-secondary-outline-error-button-secondary-error-text: var(--colors-error-5);
  --button-secondary-outline-error-button-secondary-error-text_hover: var(--colors-error-4);
  --button-secondary-outline-error-button-secondary-error-fg: var(--colors-error-5);
  --button-secondary-outline-error-button-secondary-error-fg_hover: var(--colors-error-4);
  --button-link-error-button-link-error-color: var(--colors-error-5);
  --button-link-error-button-link-error-color_hover: var(--colors-error-4);
  --button-link-error-button-link-error-color-fg: var(--colors-error-4);
  --input-input-bg: rgba(41 41 41 / 0.1);
  --input-input-border: #8c8c8c;
  --input-input-border_focus: var(--colors-gray-1);
  --input-input-border_hover: var(--colors-gray-3);
  --input-input-text: var(--colors-gray-3);
  --input-input-text-filled: var(--colors-gray-1);
  --input-input-text-error: var(--text-text-error-primary);
  --foreground-fg-brand-secondary: var(--colors-brand-6);
  --foreground-fg-warning-primary: var(--colors-warning-5);
  --foreground-fg-warning-secondary: var(--colors-warning-6);
  --text-text-success-primary: var(--colors-success-5);
  --text-text-success-secondary: var(--colors-success-6);
  --text-text-warning-primary: var(--colors-warning-5);
  --text-text-warning-secondary: var(--colors-warning-6);
  --text-text-senary: var(--colors-gray-6);
  --background-bg-white: var(--colors-base-white);
  --background-bg-quarterary: var(--colors-gray-4);
  --background-bg-quarterary_hover: var(--colors-gray-5);
  // BTA2.0
  --colors-text-text-primary-900: #F5F5F6;
  --colors-text-text-secondary-700: #696969;
  --button-secondary-bg2: #313131;
  --button-secondary-border: #525252;
  --button-secondary-fg: #D2D2D2;
  --colors-background-bg-quaternary: #525252;
  --colors-foreground-fg-secondary-700: #D2D2D2;
  --colors-border-border-secondary: #3b3b3b;
  --colors-border-border-primary: #6a6a6a;
  --colors-foreground-fg-tertiary-600: #6A6A6A;
  --colors-text-text-secondary-700: #D2D2D2;
  --colors-foreground-fg-quinary-400: #727171;
  --colors-background-bg-primary_alt: #313131;
  --colors-foreground-fg-primary-900: #fff;
  --colors-background-bg-disabled: #3B3B3B;
  --colors-border-border-disabled_subtle: #3b3b3b;
  --colors-foreground-fg-disabled: #727171;
  --component-colors-utility-gray-utility-gray-200: #525252;
  --component-colors-utility-gray-utility-gray-50: #313131;
  --component-colors-utility-gray-utility-gray-700: #D2D2D2;
  --colors-effects-shadows-shadow-lg_01: rgba(255, 255, 255, 0.00);
  --colors-effects-shadows-shadow-lg_02: rgba(255, 255, 255, 0.00);
}

//BTA2.0
/* 1. Color modes - Dark mode */
.dark-mode {
// UNTITLED
  --colors-text-text-primary-900: var(--colors-base-white);
  --colors-text-text-primary_on-brand: var(--colors-gray-dark-mode-50);
  --colors-text-text-secondary-700: var(--colors-gray-dark-mode-50);
  --colors-text-text-secondary_hover: var(--colors-gray-dark-mode-300);
  --colors-text-text-secondary_on-brand: var(--colors-gray-dark-mode-200);
  --colors-text-text-tertiary-600: var(--colors-gray-dark-mode-400);
  --colors-text-text-tertiary_hover: var(--colors-gray-dark-mode-300);
  --colors-text-text-tertiary_on-brand: var(--colors-gray-dark-mode-400);
  --colors-text-text-quaternary-500: var(--colors-gray-dark-mode-400);
  --colors-text-text-quaternary_on-brand: var(--colors-gray-dark-mode-400);
  --colors-text-text-white: var(--colors-base-white);
  --colors-text-text-disabled: var(--colors-gray-dark-mode-500);
  --colors-text-text-placeholder: var(--colors-gray-dark-mode-500);
  --colors-text-text-placeholder_subtle: var(--colors-gray-dark-mode-700);
  --colors-text-text-brand-primary-900: var(--colors-gray-dark-mode-50);
  --colors-text-text-brand-secondary-700: var(--colors-gray-dark-mode-300);
  --colors-text-text-brand-secondary_hover: var(--colors-gray-dark-mode-200);
  --colors-text-text-brand-tertiary-600: var(--colors-gray-dark-mode-400);
  --colors-text-text-brand-tertiary_alt: var(--colors-gray-dark-mode-50);
  --colors-text-text-error-primary-600: var(--colors-error-400);
  --colors-text-text-error-primary_hover: var(--colors-error-300);
  --colors-text-text-warning-primary-600: var(--colors-warning-400);
  --colors-text-text-success-primary-600: var(--colors-success-400);
  --colors-border-border-primary: var(--colors-gray-dark-mode-700);
  --colors-border-border-secondary: var(--colors-gray-dark-mode-800);
  --colors-border-border-secondary_alt: var(--colors-gray-dark-mode-800);
  --colors-border-border-tertiary: var(--colors-gray-dark-mode-800);
  --colors-border-border-disabled: var(--colors-gray-dark-mode-700);
  --colors-border-border-disabled_subtle: var(--colors-gray-dark-mode-800);
  --colors-border-border-brand: var(--colors-brand-400);
  --colors-border-border-brand_alt: var(--colors-gray-dark-mode-700);
  --colors-border-border-error: var(--colors-error-400);
  --colors-border-border-error_subtle: var(--colors-error-500);
  --colors-foreground-fg-primary-900: var(--colors-base-white);
  --component-colors-alpha-alpha-white-10: #0C0E121A;
  --component-colors-alpha-alpha-white-20: #0C0E1233;
  --component-colors-alpha-alpha-white-30: #0C0E124D;
  --component-colors-alpha-alpha-white-40: #0C0E1266;
  --component-colors-alpha-alpha-white-50: #0C0E1280;
  --component-colors-alpha-alpha-white-60: #0C0E1299;
  --component-colors-alpha-alpha-white-70: #0C0E12B2;
  --component-colors-alpha-alpha-white-80: #0C0E12CC;
  --component-colors-alpha-alpha-white-90: #0C0E12E5;
  --component-colors-alpha-alpha-white-100: var(--colors-gray-dark-mode-950);
  --component-colors-alpha-alpha-black-10: #FFFFFF1A;
  --component-colors-alpha-alpha-black-20: #FFFFFF33;
  --component-colors-alpha-alpha-black-30: #FFFFFF4D;
  --component-colors-alpha-alpha-black-40: #FFFFFF66;
  --component-colors-alpha-alpha-black-50: #FFFFFF80;
  --component-colors-alpha-alpha-black-60: #FFFFFF99;
  --component-colors-alpha-alpha-black-70: #FFFFFFB2;
  --component-colors-alpha-alpha-black-80: #FFFFFFCC;
  --component-colors-alpha-alpha-black-90: #FFFFFFE5;
  --component-colors-alpha-alpha-black-100: #FFFFFFFF;
  --component-colors-utility-gray-utility-gray-50: var(--colors-gray-dark-mode-900);
  --component-colors-components-app-store-badges-app-store-badge-border: var(--colors-base-white);
  --component-colors-components-avatars-avatar-styles-bg-neutral: #E0E0E0FF;
  --component-colors-components-buttons-button-primary-icon: var(--colors-brand-300);
  --component-colors-components-buttons-button-primary-icon_hover: var(--colors-brand-200);
  --component-colors-components-buttons-button-destructive-primary-icon: var(--colors-error-300);
  --component-colors-components-buttons-button-destructive-primary-icon_hover: var(--colors-error-200);
  --component-colors-components-footers-footer-button-fg: var(--colors-gray-dark-mode-300);
  --component-colors-components-footers-footer-button-fg_hover: var(--colors-gray-dark-mode-100);
  --component-colors-components-icons-icons-icon-fg-brand: var(--colors-gray-dark-mode-400);
  --component-colors-components-icons-icons-icon-fg-brand_on-brand: var(--colors-gray-dark-mode-400);
  --component-colors-components-icons-featured-icons-featured-icon-light-fg-brand: var(--colors-brand-200);
  --component-colors-components-icons-featured-icons-featured-icon-light-fg-gray: var(--colors-gray-dark-mode-200);
  --component-colors-components-icons-featured-icons-featured-icon-light-fg-error: var(--colors-error-200);
  --component-colors-components-icons-featured-icons-featured-icon-light-fg-warning: var(--colors-warning-200);
  --component-colors-components-icons-featured-icons-featured-icon-light-fg-success: var(--colors-success-200);
  --component-colors-components-mockups-screen-mockup-border: var(--colors-gray-dark-mode-700);
  --component-colors-components-sliders-slider-handle-bg: var(--colors-foreground-fg-brand-primary-600);
  --component-colors-components-sliders-slider-handle-border: var(--colors-background-bg-primary);
  --component-colors-components-toggles-toggle-button-fg_disabled: var(--colors-gray-dark-mode-600);
  --component-colors-components-toggles-toggle-border: var(--colors-base-transparent);
  --component-colors-components-toggles-toggle-slim-border_pressed: var(--colors-base-transparent);
  --component-colors-components-toggles-toggle-slim-border_pressed-hover: var(--colors-base-transparent);
  --component-colors-components-Tooltips-tooltip-supporting-text: var(--colors-gray-dark-mode-300);
  --component-colors-components-text-editor-text-editor-icon-fg: var(--colors-gray-dark-mode-400);
  --component-colors-components-text-editor-text-editor-icon-fg_active: var(--colors-base-white);
  --component-colors-utility-gray-utility-gray-100: var(--colors-gray-dark-mode-800);
  --component-colors-utility-gray-utility-gray-200: var(--colors-gray-dark-mode-700);
  --component-colors-utility-gray-utility-gray-300: var(--colors-gray-dark-mode-700);
  --component-colors-utility-gray-utility-gray-400: var(--colors-gray-dark-mode-600);
  --component-colors-utility-gray-utility-gray-500: var(--colors-gray-dark-mode-500);
  --component-colors-utility-gray-utility-gray-600: var(--colors-gray-dark-mode-400);
  --component-colors-utility-gray-utility-gray-700: var(--colors-gray-dark-mode-300);
  --component-colors-utility-gray-utility-gray-800: var(--colors-gray-dark-mode-200);
  --component-colors-utility-gray-utility-gray-900: var(--colors-gray-dark-mode-100);
  --component-colors-utility-brand-utility-brand-50: var(--colors-brand-950);
  --component-colors-utility-brand-utility-brand-50_alt: var(--component-colors-utility-gray-utility-gray-50);
  --component-colors-utility-brand-utility-brand-100: var(--colors-brand-900);
  --component-colors-utility-brand-utility-brand-100_alt: var(--component-colors-utility-gray-utility-gray-100);
  --component-colors-utility-brand-utility-brand-200: var(--colors-brand-800);
  --component-colors-utility-brand-utility-brand-200_alt: var(--component-colors-utility-gray-utility-gray-200);
  --component-colors-utility-brand-utility-brand-300: var(--colors-brand-700);
  --component-colors-utility-brand-utility-brand-300_alt: var(--component-colors-utility-gray-utility-gray-300);
  --component-colors-utility-brand-utility-brand-400: var(--colors-brand-600);
  --component-colors-utility-brand-utility-brand-400_alt: var(--component-colors-utility-gray-utility-gray-400);
  --component-colors-utility-brand-utility-brand-500: var(--colors-brand-500);
  --component-colors-utility-brand-utility-brand-500_alt: var(--component-colors-utility-gray-utility-gray-500);
  --component-colors-utility-brand-utility-brand-600: var(--colors-brand-400);
  --component-colors-utility-brand-utility-brand-600_alt: var(--component-colors-utility-gray-utility-gray-600);
  --component-colors-utility-brand-utility-brand-700: var(--colors-brand-300);
  --component-colors-utility-brand-utility-brand-700_alt: var(--component-colors-utility-gray-utility-gray-700);
  --component-colors-utility-brand-utility-brand-800: var(--colors-brand-200);
  --component-colors-utility-brand-utility-brand-800_alt: var(--component-colors-utility-gray-utility-gray-800);
  --component-colors-utility-brand-utility-brand-900: var(--colors-brand-100);
  --component-colors-utility-brand-utility-brand-900_alt: var(--component-colors-utility-gray-utility-gray-900);
  --component-colors-utility-error-utility-error-50: var(--colors-error-950);
  --component-colors-utility-error-utility-error-100: var(--colors-error-900);
  --component-colors-utility-error-utility-error-200: var(--colors-error-800);
  --component-colors-utility-error-utility-error-300: var(--colors-error-700);
  --component-colors-utility-error-utility-error-400: var(--colors-error-600);
  --component-colors-utility-error-utility-error-500: var(--colors-error-500);
  --component-colors-utility-error-utility-error-600: var(--colors-error-400);
  --component-colors-utility-error-utility-error-700: var(--colors-error-300);
  --component-colors-utility-warning-utility-warning-50: var(--colors-warning-950);
  --component-colors-utility-warning-utility-warning-100: var(--colors-warning-900);
  --component-colors-utility-warning-utility-warning-200: var(--colors-warning-800);
  --component-colors-utility-warning-utility-warning-300: var(--colors-warning-700);
  --component-colors-utility-warning-utility-warning-400: var(--colors-warning-600);
  --component-colors-utility-warning-utility-warning-500: var(--colors-warning-500);
  --component-colors-utility-warning-utility-warning-600: var(--colors-warning-400);
  --component-colors-utility-warning-utility-warning-700: var(--colors-warning-300);
  --component-colors-utility-success-utility-success-50: var(--colors-success-950);
  --component-colors-utility-success-utility-success-100: var(--colors-success-900);
  --component-colors-utility-success-utility-success-200: var(--colors-success-800);
  --component-colors-utility-success-utility-success-300: var(--colors-success-700);
  --component-colors-utility-success-utility-success-400: var(--colors-success-600);
  --component-colors-utility-success-utility-success-500: var(--colors-success-500);
  --component-colors-utility-success-utility-success-600: var(--colors-success-400);
  --component-colors-utility-success-utility-success-700: var(--colors-success-300);
  --component-colors-utility-gray-blue-utility-gray-blue-50: var(--colors-gray-blue-950);
  --component-colors-utility-gray-blue-utility-gray-blue-100: var(--colors-gray-blue-900);
  --component-colors-utility-gray-blue-utility-gray-blue-200: var(--colors-gray-blue-800);
  --component-colors-utility-gray-blue-utility-gray-blue-300: var(--colors-gray-blue-700);
  --component-colors-utility-gray-blue-utility-gray-blue-400: var(--colors-gray-blue-600);
  --component-colors-utility-gray-blue-utility-gray-blue-500: var(--colors-gray-blue-500);
  --component-colors-utility-gray-blue-utility-gray-blue-600: var(--colors-gray-blue-400);
  --component-colors-utility-gray-blue-utility-gray-blue-700: var(--colors-gray-blue-300);
  --component-colors-utility-green-utility-green-50: var(--colors-green-950);
  --component-colors-utility-green-utility-green-100: var(--colors-green-900);
  --component-colors-utility-green-utility-green-200: var(--colors-green-800);
  --component-colors-utility-green-utility-green-300: var(--colors-green-700);
  --component-colors-utility-green-utility-green-400: var(--colors-green-600);
  --component-colors-utility-green-utility-green-500: var(--colors-green-500);
  --component-colors-utility-green-utility-green-600: var(--colors-green-400);
  --component-colors-utility-green-utility-green-700: var(--colors-green-300);
  --component-colors-utility-blue-light-utility-blue-light-50: var(--colors-blue-light-950);
  --component-colors-utility-blue-light-utility-blue-light-100: var(--colors-blue-light-900);
  --component-colors-utility-blue-light-utility-blue-light-200: var(--colors-blue-light-800);
  --component-colors-utility-blue-light-utility-blue-light-300: var(--colors-blue-light-700);
  --component-colors-utility-blue-light-utility-blue-light-400: var(--colors-blue-light-600);
  --component-colors-utility-blue-light-utility-blue-light-500: var(--colors-blue-light-500);
  --component-colors-utility-blue-light-utility-blue-light-600: var(--colors-blue-light-400);
  --component-colors-utility-blue-light-utility-blue-light-700: var(--colors-blue-light-300);
  --component-colors-utility-blue-utility-blue-50: var(--colors-blue-950);
  --component-colors-utility-blue-utility-blue-100: var(--colors-blue-900);
  --component-colors-utility-blue-utility-blue-200: var(--colors-blue-800);
  --component-colors-utility-blue-utility-blue-300: var(--colors-blue-700);
  --component-colors-utility-blue-utility-blue-400: var(--colors-blue-600);
  --component-colors-utility-blue-utility-blue-500: var(--colors-blue-500);
  --component-colors-utility-blue-utility-blue-600: var(--colors-blue-400);
  --component-colors-utility-blue-utility-blue-700: var(--colors-blue-300);
  --component-colors-utility-blue-dark-utility-blue-dark-50: var(--colors-blue-dark-950);
  --component-colors-utility-blue-dark-utility-blue-dark-100: var(--colors-blue-dark-900);
  --component-colors-utility-blue-dark-utility-blue-dark-200: var(--colors-blue-dark-800);
  --component-colors-utility-blue-dark-utility-blue-dark-300: var(--colors-blue-dark-700);
  --component-colors-utility-blue-dark-utility-blue-dark-400: var(--colors-blue-dark-600);
  --component-colors-utility-blue-dark-utility-blue-dark-500: var(--colors-blue-dark-500);
  --component-colors-utility-blue-dark-utility-blue-dark-600: var(--colors-blue-dark-400);
  --component-colors-utility-blue-dark-utility-blue-dark-700: var(--colors-blue-dark-300);
  --component-colors-utility-indigo-utility-indigo-50: var(--colors-indigo-950);
  --component-colors-utility-indigo-utility-indigo-100: var(--colors-indigo-900);
  --component-colors-utility-indigo-utility-indigo-200: var(--colors-indigo-800);
  --component-colors-utility-indigo-utility-indigo-300: var(--colors-indigo-700);
  --component-colors-utility-indigo-utility-indigo-400: var(--colors-indigo-600);
  --component-colors-utility-indigo-utility-indigo-500: var(--colors-indigo-500);
  --component-colors-utility-indigo-utility-indigo-600: var(--colors-indigo-400);
  --component-colors-utility-indigo-utility-indigo-700: var(--colors-indigo-300);
  --component-colors-utility-purple-utility-purple-50: var(--colors-purple-950);
  --component-colors-utility-purple-utility-purple-100: var(--colors-purple-900);
  --component-colors-utility-purple-utility-purple-200: var(--colors-purple-800);
  --component-colors-utility-purple-utility-purple-300: var(--colors-purple-700);
  --component-colors-utility-purple-utility-purple-400: var(--colors-purple-600);
  --component-colors-utility-purple-utility-purple-500: var(--colors-purple-500);
  --component-colors-utility-purple-utility-purple-600: var(--colors-purple-400);
  --component-colors-utility-purple-utility-purple-700: var(--colors-purple-300);
  --component-colors-utility-fuchsia-utility-fuchsia-50: var(--colors-fuchsia-950);
  --component-colors-utility-fuchsia-utility-fuchsia-100: var(--colors-fuchsia-900);
  --component-colors-utility-fuchsia-utility-fuchsia-200: var(--colors-fuchsia-800);
  --component-colors-utility-fuchsia-utility-fuchsia-300: var(--colors-fuchsia-700);
  --component-colors-utility-fuchsia-utility-fuchsia-400: var(--colors-fuchsia-600);
  --component-colors-utility-fuchsia-utility-fuchsia-500: var(--colors-fuchsia-500);
  --component-colors-utility-fuchsia-utility-fuchsia-600: var(--colors-fuchsia-400);
  --component-colors-utility-fuchsia-utility-fuchsia-700: var(--colors-fuchsia-300);
  --component-colors-utility-pink-utility-pink-50: var(--colors-pink-950);
  --component-colors-utility-pink-utility-pink-100: var(--colors-pink-900);
  --component-colors-utility-pink-utility-pink-200: var(--colors-pink-800);
  --component-colors-utility-pink-utility-pink-300: var(--colors-pink-700);
  --component-colors-utility-pink-utility-pink-400: var(--colors-pink-600);
  --component-colors-utility-pink-utility-pink-500: var(--colors-pink-500);
  --component-colors-utility-pink-utility-pink-600: var(--colors-pink-400);
  --component-colors-utility-pink-utility-pink-700: var(--colors-pink-300);
  --component-colors-utility-orange-dark-utility-orange-dark-50: var(--colors-orange-dark-950);
  --component-colors-utility-orange-dark-utility-orange-dark-100: var(--colors-orange-dark-900);
  --component-colors-utility-orange-dark-utility-orange-dark-200: var(--colors-orange-dark-800);
  --component-colors-utility-orange-dark-utility-orange-dark-300: var(--colors-orange-dark-700);
  --component-colors-utility-orange-dark-utility-orange-dark-400: var(--colors-orange-dark-600);
  --component-colors-utility-orange-dark-utility-orange-dark-500: var(--colors-orange-dark-500);
  --component-colors-utility-orange-dark-utility-orange-dark-600: var(--colors-orange-dark-400);
  --component-colors-utility-orange-dark-utility-orange-dark-700: var(--colors-orange-dark-300);
  --component-colors-utility-orange-utility-orange-50: var(--colors-orange-950);
  --component-colors-utility-orange-utility-orange-100: var(--colors-orange-900);
  --component-colors-utility-orange-utility-orange-200: var(--colors-orange-800);
  --component-colors-utility-orange-utility-orange-300: var(--colors-orange-700);
  --component-colors-utility-orange-utility-orange-400: var(--colors-orange-600);
  --component-colors-utility-orange-utility-orange-500: var(--colors-orange-500);
  --component-colors-utility-orange-utility-orange-600: var(--colors-orange-400);
  --component-colors-utility-orange-utility-orange-700: var(--colors-orange-300);
  --colors-foreground-fg-secondary-700: var(--colors-gray-dark-mode-300);
  --colors-foreground-fg-secondary_hover: var(--colors-gray-dark-mode-200);
  --colors-foreground-fg-tertiary-600: var(--colors-gray-dark-mode-400);
  --colors-foreground-fg-tertiary_hover: var(--colors-gray-dark-mode-300);
  --colors-foreground-fg-quaternary-400: var(--colors-gray-dark-mode-600);
  --colors-foreground-fg-quaternary_hover: var(--colors-gray-dark-mode-500);
  --colors-foreground-fg-white: var(--colors-base-white);
  --colors-foreground-fg-disabled: var(--colors-gray-dark-mode-500);
  --colors-foreground-fg-disabled_subtle: var(--colors-gray-dark-mode-600);
  --colors-foreground-fg-brand-primary-600: var(--colors-brand-500);
  --colors-foreground-fg-brand-primary_alt: var(--colors-gray-dark-mode-300);
  --colors-foreground-fg-brand-secondary-500: var(--colors-brand-500);
  --colors-foreground-fg-brand-secondary_alt: var(--colors-gray-dark-mode-600);
  --colors-foreground-fg-brand-secondary_hover: var(--colors-gray-dark-mode-500);
  --colors-foreground-fg-error-primary: var(--colors-error-500);
  --colors-foreground-fg-error-secondary: var(--colors-error-400);
  --colors-foreground-fg-warning-primary: var(--colors-warning-500);
  --colors-foreground-fg-warning-secondary: var(--colors-warning-400);
  --colors-foreground-fg-success-primary: var(--colors-success-500);
  --colors-foreground-fg-success-secondary: var(--colors-success-400);
  --colors-background-bg-primary: var(--colors-gray-dark-mode-950);
  --colors-effects-focus-rings-focus-ring: var(--colors-brand-500);
  --colors-effects-focus-rings-focus-ring-error: var(--colors-error-500);
  --colors-effects-shadows-shadow-xs: var(--colors-base-transparent);
  --colors-effects-portfolio-mockups-shadow-main-centre-md: var(--colors-base-transparent);
  --colors-effects-portfolio-mockups-shadow-main-centre-lg: var(--colors-base-transparent);
  --colors-effects-portfolio-mockups-shadow-overlay-lg: var(--colors-base-transparent);
  --colors-effects-portfolio-mockups-shadow-grid-md: var(--colors-base-transparent);
  --colors-effects-shadows-shadow-sm_01: var(--colors-base-transparent);
  --colors-effects-shadows-shadow-sm_02: var(--colors-base-transparent);
  --colors-effects-shadows-shadow-md_01: var(--colors-base-transparent);
  --colors-effects-shadows-shadow-md_02: var(--colors-base-transparent);
  --colors-effects-shadows-shadow-lg_01: var(--colors-base-transparent);
  --colors-effects-shadows-shadow-lg_02: var(--colors-base-transparent);
  --colors-effects-shadows-shadow-lg_03: var(--colors-base-transparent);
  --colors-effects-shadows-shadow-xl_01: var(--colors-base-transparent);
  --colors-effects-shadows-shadow-xl_02: var(--colors-base-transparent);
  --colors-effects-shadows-shadow-xl_03: var(--colors-base-transparent);
  --colors-effects-shadows-shadow-2xl_01: var(--colors-base-transparent);
  --colors-effects-shadows-shadow-2xl_02: var(--colors-base-transparent);
  --colors-effects-shadows-shadow-3xl_01: var(--colors-base-transparent);
  --colors-effects-shadows-shadow-3xl_02: var(--colors-base-transparent);
  --colors-effects-shadows-shadow-skeumorphic-inner: #0C0E120D;
  --colors-effects-shadows-shadow-skeumorphic-inner-border: #0C0E122E;
  --colors-background-bg-primary_alt: var(--colors-background-bg-secondary);
  --colors-background-bg-primary_hover: var(--colors-gray-dark-mode-800);
  --colors-background-bg-primary-solid: var(--colors-background-bg-secondary);
  --colors-background-bg-secondary: var(--colors-gray-dark-mode-900);
  --colors-background-bg-secondary_alt: var(--colors-background-bg-primary);
  --colors-background-bg-secondary_hover: var(--colors-gray-dark-mode-800);
  --colors-background-bg-secondary_subtle: var(--colors-gray-dark-mode-900);
  --colors-background-bg-secondary-solid: var(--colors-gray-dark-mode-600);
  --colors-background-bg-tertiary: var(--colors-gray-dark-mode-800);
  --colors-background-bg-quaternary: var(--colors-gray-dark-mode-700);
  --colors-background-bg-active: var(--colors-gray-dark-mode-800);
  --colors-background-bg-disabled: var(--colors-gray-dark-mode-800);
  --colors-background-bg-disabled_subtle: var(--colors-gray-dark-mode-900);
  --colors-background-bg-overlay: var(--colors-gray-dark-mode-800);
  --colors-background-bg-brand-primary: var(--colors-brand-500);
  --colors-background-bg-brand-primary_alt: var(--colors-background-bg-secondary);
  --colors-background-bg-brand-secondary: var(--colors-brand-600);
  --colors-background-bg-brand-solid: var(--colors-brand-600);
  --colors-background-bg-brand-solid_hover: var(--colors-brand-500);
  --colors-background-bg-brand-section: var(--colors-background-bg-secondary);
  --colors-background-bg-brand-section_subtle: var(--colors-background-bg-primary);
  --colors-background-bg-error-primary: var(--colors-error-950);
  --colors-background-bg-error-secondary: var(--colors-error-600);
  --colors-background-bg-error-solid: var(--colors-error-600);
  --colors-background-bg-error-solid_hover: var(--colors-error-500);
  --colors-background-bg-warning-primary: var(--colors-warning-950);
  --colors-background-bg-warning-secondary: var(--colors-warning-600);
  --colors-background-bg-warning-solid: var(--colors-warning-600);
  --colors-background-bg-success-primary: var(--colors-success-950);
  --colors-background-bg-success-secondary: var(--colors-success-600);
  --colors-background-bg-success-solid: var(--colors-success-600);
  --component-colors-utility-yellow-utility-yellow-50: var(--colors-yellow-950);
  --component-colors-utility-yellow-utility-yellow-100: var(--colors-yellow-900);
  --component-colors-utility-yellow-utility-yellow-200: var(--colors-yellow-800);
  --component-colors-utility-yellow-utility-yellow-300: var(--colors-yellow-700);
  --component-colors-utility-yellow-utility-yellow-400: var(--colors-yellow-600);
  --component-colors-utility-yellow-utility-yellow-500: var(--colors-yellow-500);
  --component-colors-utility-yellow-utility-yellow-600: var(--colors-yellow-400);
  --component-colors-utility-yellow-utility-yellow-700: var(--colors-yellow-300);
  --colors-background-black-white: #000000FF;

//BTA2.0
  --colors-text-text-primary: var(--colors-gray-50);
  --colors-text-text-primary_on-brand: var(--colors-gray-50);
  --colors-text-text-secondary: var(--colors-gray-300);
  --colors-text-text-secondary_hover: var(--colors-gray-200);
  --colors-text-text-secondary_on-brand: var(--colors-gray-300);
  --colors-text-text-tertiary: var(--colors-gray-400);
  --colors-text-text-tertiary_hover: var(--colors-gray-300);
  --colors-text-text-tertiary_on-brand: var(--colors-gray-400);
  --colors-text-text-quaternary: var(--colors-gray-400);
  --colors-text-text-quaternary_on-brand: var(--colors-gray-400);
  --colors-text-text-white: var(--colors-base-white);
  --colors-text-text-disabled: var(--colors-gray-500);
  --colors-text-text-placeholder: var(--colors-gray-500);
  --colors-text-text-placeholder_subtle: var(--colors-gray-700);
  --colors-text-text-brand-primary: var(--colors-gray-50);
  --colors-text-text-brand-secondary: var(--colors-gray-300);
  --colors-text-text-brand-tertiary: var(--colors-brand-500);
  --colors-text-text-brand-tertiary_alt: var(--colors-gray-50);
  --colors-text-text-error-primary: var(--colors-error-400);
  --colors-text-text-warning-primary: var(--colors-warning-400);
  --colors-text-text-success-primary: var(--colors-success-400);
  --colors-border-border-primary: var(--colors-gray-600);
  --colors-border-border-secondary: var(--colors-gray-800);
  --colors-border-border-tertiary: var(--colors-gray-800);
  --colors-border-border-disabled: var(--colors-gray-700);
  --colors-border-border-disabled_subtle: var(--colors-gray-800);
  --colors-border-border-brand: var(--colors-brand-400);
  --colors-border-border-brand_alt: var(--colors-gray-700);
  --colors-border-border-error: var(--colors-error-400);
  --colors-border-border-error_subtle: var(--colors-error-400);
  --colors-foreground-fg-primary: var(--colors-base-white);
  --component-colors-alpha-alpha-white-10: rgba(31, 31, 31, 0.10000000149011612);
  --component-colors-alpha-alpha-white-20: rgba(31, 31, 31, 0.20000000298023224);
  --component-colors-alpha-alpha-white-30: rgba(31, 31, 31, 0.30000001192092896);
  --component-colors-alpha-alpha-white-40: rgba(31, 31, 31, 0.4000000059604645);
  --component-colors-alpha-alpha-white-50: rgba(31, 31, 31, 0.5);
  --component-colors-alpha-alpha-white-60: rgba(31, 31, 31, 0.6000000238418579);
  --component-colors-alpha-alpha-white-70: rgba(31, 31, 31, 0.699999988079071);
  --component-colors-alpha-alpha-white-80: rgba(31, 31, 31, 0.800000011920929);
  --component-colors-alpha-alpha-white-90: rgba(31, 31, 31, 0.8999999761581421);
  --component-colors-alpha-alpha-white-100: var(--colors-gray-950);
  --component-colors-alpha-alpha-black-10: rgba(255, 255, 255, 0.10000000149011612);
  --component-colors-alpha-alpha-black-20: rgba(255, 255, 255, 0.20000000298023224);
  --component-colors-alpha-alpha-black-30: rgba(255, 255, 255, 0.30000001192092896);
  --component-colors-alpha-alpha-black-40: rgba(255, 255, 255, 0.4000000059604645);
  --component-colors-alpha-alpha-black-50: rgba(255, 255, 255, 0.5);
  --component-colors-alpha-alpha-black-60: rgba(255, 255, 255, 0.6000000238418579);
  --component-colors-alpha-alpha-black-70: rgba(255, 255, 255, 0.699999988079071);
  --component-colors-alpha-alpha-black-80: rgba(255, 255, 255, 0.800000011920929);
  --component-colors-alpha-alpha-black-90: rgba(255, 255, 255, 0.8999999761581421);
  --component-colors-alpha-alpha-black-100: rgba(255, 255, 255, 1);
  --component-colors-utility-gray-utility-gray-50: var(--colors-gray-900);
  --component-colors-components-app-store-badges-app-store-badge-border: var(--colors-base-white);
  --component-colors-components-application-navigation-nav-item-button-icon-fg: var(--colors-gray-400);
  --component-colors-components-application-navigation-nav-item-button-icon-fg_active: var(--colors-gray-200);
  --component-colors-components-application-navigation-nav-item-icon-fg: var(--colors-gray-400);
  --component-colors-components-application-navigation-nav-item-icon-fg_active: var(--colors-gray-200);
  --component-colors-components-avatars-avatar-bg: var(--colors-gray-800);
  --component-colors-components-avatars-avatar-profile-photo-border: var(--colors-gray-950);
  --component-colors-components-avatars-avatar-contrast-border: rgba(255, 255, 255, 0.11999999731779099);
  --component-colors-components-avatars-avatar-styles-bg-neutral: rgba(224, 224, 224, 1);
  --component-colors-components-breadcrumbs-breadcrumb-fg: var(--colors-gray-300);
  --component-colors-components-breadcrumbs-breadcrumb-fg_hover: var(--colors-base-white);
  --component-colors-components-breadcrumbs-breadcrumb-bg_hover: var(--colors-gray-800);
  --component-colors-components-breadcrumbs-breadcrumb-brand-fg_hover: var(--colors-base-white);
  --component-colors-components-breadcrumbs-breadcrumb-brand-bg_hover: var(--colors-gray-800);
  --component-colors-components-breadcrumbs-breadcrumb-icon-fg: var(--colors-gray-400);
  --component-colors-components-breadcrumbs-breadcrumb-icon-fg_hover: var(--colors-base-white);
  --component-colors-components-breadcrumbs-breadcrumb-brand-icon-fg_hover: var(--colors-base-white);
  --component-colors-components-buttons-primary-button-primary-fg: var(--colors-base-white);
  --component-colors-components-buttons-primary-button-primary-fg_hover: var(--colors-base-white);
  --component-colors-components-buttons-primary-button-primary-bg: var(--colors-brand-500);
  --component-colors-components-buttons-primary-button-primary-bg_hover: var(--colors-brand-400);
  --component-colors-components-buttons-secondary-button-secondary-fg: var(--colors-gray-300);
  --component-colors-components-buttons-secondary-button-secondary-fg_hover: var(--colors-gray-100);
  --component-colors-components-buttons-secondary-button-secondary-bg: var(--colors-gray-900);
  --component-colors-components-buttons-secondary-button-secondary-bg_hover: var(--colors-gray-800);
  --component-colors-components-buttons-secondary-button-secondary-border: var(--colors-gray-700);
  --component-colors-components-buttons-secondary-button-secondary-border_hover: var(--colors-gray-700);
  --component-colors-components-buttons-secondary-color-button-secondary-color-fg: var(--colors-gray-300);
  --component-colors-components-buttons-secondary-color-button-secondary-color-fg_hover: var(--colors-gray-100);
  --component-colors-components-buttons-secondary-color-button-secondary-color-bg: var(--colors-gray-900);
  --component-colors-components-buttons-secondary-color-button-secondary-color-bg_hover: var(--colors-gray-800);
  --component-colors-components-buttons-secondary-color-button-secondary-color-border: var(--colors-gray-700);
  --component-colors-components-buttons-secondary-color-button-secondary-color-border_hover: var(--colors-gray-700);
  --component-colors-components-buttons-tertiary-button-tertiary-fg: var(--colors-gray-400);
  --component-colors-components-buttons-tertiary-button-tertiary-fg_hover: var(--colors-gray-200);
  --component-colors-components-buttons-tertiary-button-tertiary-bg_hover: var(--colors-gray-800);
  --component-colors-components-buttons-tertiary-color-button-tertiary-color-fg: var(--colors-gray-300);
  --component-colors-components-buttons-tertiary-color-button-tertiary-color-fg_hover: var(--colors-gray-100);
  --component-colors-components-buttons-tertiary-color-button-tertiary-color-bg_hover: var(--colors-gray-800);
  --component-colors-components-buttons-primary-error-button-primary-error-fg: var(--colors-base-white);
  --component-colors-components-buttons-primary-error-button-primary-error-fg_hover: var(--colors-base-white);
  --component-colors-components-buttons-primary-error-button-primary-error-bg: var(--colors-error-500);
  --component-colors-components-buttons-primary-error-button-primary-error-bg_hover: var(--colors-error-600);
  --component-colors-components-buttons-secondary-error-button-secondary-error-fg: var(--colors-error-200);
  --component-colors-components-buttons-secondary-error-button-secondary-error-fg_hover: var(--colors-error-100);
  --component-colors-components-buttons-secondary-error-button-secondary-error-bg: var(--colors-error-950);
  --component-colors-components-buttons-secondary-error-button-secondary-error-bg_hover: var(--colors-error-900);
  --component-colors-components-buttons-secondary-error-button-secondary-error-border: var(--colors-error-800);
  --component-colors-components-buttons-secondary-error-button-secondary-error-border_hover: var(--colors-error-700);
  --component-colors-components-buttons-tertiary-error-button-tertiary-error-fg: var(--colors-error-300);
  --component-colors-components-buttons-tertiary-error-button-tertiary-error-fg_hover: var(--colors-error-200);
  --component-colors-components-buttons-tertiary-error-button-tertiary-error-bg_hover: var(--colors-error-900);
  --component-colors-components-footers-footer-button-fg: var(--colors-gray-300);
  --component-colors-components-footers-footer-button-fg_hover: var(--colors-gray-100);
  --component-colors-components-footers-footer-badge-fg: var(--colors-base-white);
  --component-colors-components-footers-footer-badge-bg: rgba(255, 255, 255, 0.10000000149011612);
  --component-colors-components-footers-footer-badge-border: rgba(255, 255, 255, 0.30000001192092896);
  --component-colors-components-header-sections-header-abstract-50-bg: var(--colors-gray-900);
  --component-colors-components-header-sections-header-abstract-100-bg: var(--colors-gray-800);
  --component-colors-components-header-sections-header-abstract-200-bg: var(--colors-gray-700);
  --component-colors-components-header-sections-header-abstract-300-bg: var(--colors-gray-600);
  --component-colors-components-icons-icons-icon-fg-brand: var(--colors-gray-400);
  --component-colors-components-icons-icons-icon-fg-brand_on-brand: var(--colors-gray-400);
  --component-colors-components-icons-featured-icons-light-featured-icon-light-fg-brand: var(--colors-brand-200);
  --component-colors-components-icons-featured-icons-light-featured-icon-light-fg-gray: var(--colors-gray-200);
  --component-colors-components-icons-featured-icons-light-featured-icon-light-fg-error: var(--colors-error-200);
  --component-colors-components-icons-featured-icons-light-featured-icon-light-fg-warning: var(--colors-warning-200);
  --component-colors-components-icons-featured-icons-light-featured-icon-light-fg-success: var(--colors-success-200);
  --component-colors-components-icons-featured-icons-dark-featured-icon-dark-fg-brand: var(--colors-brand-200);
  --component-colors-components-icons-featured-icons-dark-featured-icon-dark-fg-gray: var(--colors-gray-200);
  --component-colors-components-icons-featured-icons-dark-featured-icon-dark-fg-error: var(--colors-error-200);
  --component-colors-components-icons-featured-icons-dark-featured-icon-dark-fg-warning: var(--colors-warning-200);
  --component-colors-components-icons-featured-icons-dark-featured-icon-dark-fg-success: var(--colors-success-200);
  --component-colors-components-icons-featured-icons-modern-featured-icon-modern-border: var(--colors-gray-700);
  --component-colors-components-icons-social-icons-social-icon-fg-x: var(--colors-base-white);
  --component-colors-components-icons-social-icons-social-icon-fg-instagram: var(--colors-base-white);
  --component-colors-components-icons-social-icons-social-icon-fg-apple: var(--colors-base-white);
  --component-colors-components-icons-social-icons-social-icon-fg-github: var(--colors-base-white);
  --component-colors-components-icons-social-icons-social-icon-fg-angellist: var(--colors-base-white);
  --component-colors-components-icons-social-icons-social-icon-fg-tumblr: var(--colors-base-white);
  --component-colors-components-mockups-screen-mockup-border: var(--colors-gray-700);
  --component-colors-components-sliders-slider-handle-bg: var(--colors-foreground-fg-brand-primary);
  --component-colors-components-sliders-slider-handle-border: var(--colors-background-bg-primary);
  --component-colors-components-thumbnail-thumbnail-badge-brand-fg: var(--colors-gray-300);
  --component-colors-components-thumbnail-thumbnail-badge-success-fg: var(--colors-gray-300);
  --component-colors-components-toggles-toggle-button-fg_disabled: var(--colors-gray-600);
  --component-colors-components-tooltips-tooltip-supporting-text: var(--colors-gray-300);
  --component-colors-components-wysiwyg-editor-wysiwyg-editor-icon-fg: var(--colors-gray-400);
  --component-colors-components-wysiwyg-editor-wysiwyg-editor-icon-fg_active: var(--colors-base-white);
  --component-colors-utility-gray-utility-gray-100: var(--colors-gray-800);
  --component-colors-utility-gray-utility-gray-200: var(--colors-gray-700);
  --component-colors-utility-gray-utility-gray-300: var(--colors-gray-700);
  --component-colors-utility-gray-utility-gray-400: var(--colors-gray-600);
  --component-colors-utility-gray-utility-gray-500: var(--colors-gray-500);
  --component-colors-utility-gray-utility-gray-600: var(--colors-gray-400);
  --component-colors-utility-gray-utility-gray-700: var(--colors-gray-300);
  --component-colors-utility-gray-utility-gray-800: var(--colors-gray-200);
  --component-colors-utility-gray-utility-gray-900: var(--colors-gray-100);
  --component-colors-utility-brand-utility-brand-50: var(--colors-brand-950);
  --component-colors-utility-brand-utility-brand-50_alt: var(--component-colors-utility-gray-utility-gray-50);
  --component-colors-utility-brand-utility-brand-100: var(--colors-brand-900);
  --component-colors-utility-brand-utility-brand-100_alt: var(--component-colors-utility-gray-utility-gray-100);
  --component-colors-utility-brand-utility-brand-200: var(--colors-brand-800);
  --component-colors-utility-brand-utility-brand-200_alt: var(--component-colors-utility-gray-utility-gray-200);
  --component-colors-utility-brand-utility-brand-300: var(--colors-brand-700);
  --component-colors-utility-brand-utility-brand-300_alt: var(--component-colors-utility-gray-utility-gray-300);
  --component-colors-utility-brand-utility-brand-400: var(--colors-brand-600);
  --component-colors-utility-brand-utility-brand-400_alt: var(--component-colors-utility-gray-utility-gray-400);
  --component-colors-utility-brand-utility-brand-500: var(--colors-brand-500);
  --component-colors-utility-brand-utility-brand-500_alt: var(--component-colors-utility-gray-utility-gray-500);
  --component-colors-utility-brand-utility-brand-600: var(--colors-brand-400);
  --component-colors-utility-brand-utility-brand-600_alt: var(--component-colors-utility-gray-utility-gray-600);
  --component-colors-utility-brand-utility-brand-700: var(--colors-brand-300);
  --component-colors-utility-brand-utility-brand-700_alt: var(--component-colors-utility-gray-utility-gray-700);
  --component-colors-utility-brand-utility-brand-800: var(--colors-brand-200);
  --component-colors-utility-brand-utility-brand-800_alt: var(--component-colors-utility-gray-utility-gray-800);
  --component-colors-utility-brand-utility-brand-900: var(--colors-brand-100);
  --component-colors-utility-brand-utility-brand-900_alt: var(--component-colors-utility-gray-utility-gray-900);
  --component-colors-utility-error-utility-error-50: var(--colors-error-950);
  --component-colors-utility-error-utility-error-100: var(--colors-error-900);
  --component-colors-utility-error-utility-error-200: var(--colors-error-800);
  --component-colors-utility-error-utility-error-300: var(--colors-error-700);
  --component-colors-utility-error-utility-error-400: var(--colors-error-600);
  --component-colors-utility-error-utility-error-500: var(--colors-error-500);
  --component-colors-utility-error-utility-error-600: var(--colors-error-400);
  --component-colors-utility-error-utility-error-700: var(--colors-error-300);
  --component-colors-utility-warning-utility-warning-50: var(--colors-warning-950);
  --component-colors-utility-warning-utility-warning-100: var(--colors-warning-900);
  --component-colors-utility-warning-utility-warning-200: var(--colors-warning-800);
  --component-colors-utility-warning-utility-warning-300: var(--colors-warning-700);
  --component-colors-utility-warning-utility-warning-400: var(--colors-warning-600);
  --component-colors-utility-warning-utility-warning-500: var(--colors-warning-500);
  --component-colors-utility-warning-utility-warning-600: var(--colors-warning-400);
  --component-colors-utility-warning-utility-warning-700: var(--colors-warning-300);
  --component-colors-utility-success-utility-success-50: var(--colors-success-950);
  --component-colors-utility-success-utility-success-100: var(--colors-success-900);
  --component-colors-utility-success-utility-success-200: var(--colors-success-800);
  --component-colors-utility-success-utility-success-300: var(--colors-success-700);
  --component-colors-utility-success-utility-success-400: var(--colors-success-600);
  --component-colors-utility-success-utility-success-500: var(--colors-success-500);
  --component-colors-utility-success-utility-success-600: var(--colors-success-400);
  --component-colors-utility-success-utility-success-700: var(--colors-success-300);
  --colors-foreground-fg-secondary: var(--colors-gray-300);
  --colors-foreground-fg-secondary_hover: var(--colors-gray-200);
  --colors-foreground-fg-tertiary: var(--colors-gray-400);
  --colors-foreground-fg-tertiary_hover: var(--colors-gray-300);
  --colors-foreground-fg-quaternary: var(--colors-gray-400);
  --colors-foreground-fg-quaternary_hover: var(--colors-gray-300);
  --colors-foreground-fg-quinary: var(--colors-gray-500);
  --colors-foreground-fg-quinary_hover: var(--colors-gray-400);
  --colors-foreground-fg-senary: var(--colors-gray-600);
  --colors-foreground-fg-white: var(--colors-base-white);
  --colors-foreground-fg-disabled: var(--colors-gray-500);
  --colors-foreground-fg-disabled_subtle: var(--colors-gray-600);
  --colors-foreground-fg-brand-primary: var(--colors-brand-500);
  --colors-foreground-fg-brand-primary_alt: var(--colors-gray-300);
  --colors-foreground-fg-brand-secondary: var(--colors-brand-400);
  --colors-foreground-fg-error-primary: var(--colors-error-500);
  --colors-foreground-fg-error-secondary: var(--colors-error-400);
  --colors-foreground-fg-warning-primary: var(--colors-warning-500);
  --colors-foreground-fg-warning-secondary: var(--colors-warning-400);
  --colors-foreground-fg-success-primary: var(--colors-success-500);
  --colors-foreground-fg-success-secondary: var(--colors-success-400);
  --colors-background-bg-primary: var(--colors-gray-950);
  --colors-effects-focus-rings-focus-ring: var(--colors-brand-500);
  --colors-effects-focus-rings-focus-ring-error: var(--colors-error-500);
  --colors-effects-shadows-shadow-xs: var(--colors-base-transparent);
  --colors-effects-portfolio-mockups-shadow-main-centre-md: var(--colors-base-transparent);
  --colors-effects-portfolio-mockups-shadow-main-centre-lg: var(--colors-base-transparent);
  --colors-effects-portfolio-mockups-shadow-overlay-lg: var(--colors-base-transparent);
  --colors-effects-portfolio-mockups-shadow-grid-md: var(--colors-base-transparent);
  --colors-effects-shadows-shadow-sm_01: var(--colors-base-transparent);
  --colors-effects-shadows-shadow-sm_02: var(--colors-base-transparent);
  --colors-effects-shadows-shadow-md_01: var(--colors-base-transparent);
  --colors-effects-shadows-shadow-md_02: var(--colors-base-transparent);
  --colors-effects-shadows-shadow-lg_01: var(--colors-base-transparent);
  --colors-effects-shadows-shadow-lg_02: var(--colors-base-transparent);
  --colors-effects-shadows-shadow-xl_01: var(--colors-base-transparent);
  --colors-effects-shadows-shadow-xl_02: var(--colors-base-transparent);
  --colors-effects-shadows-shadow-2xl: var(--colors-base-transparent);
  --colors-effects-shadows-shadow-3xl: var(--colors-base-transparent);
  --colors-effects-shadows-shadow-skeumorphic-inner: rgba(31, 31, 31, 0.05000000074505806);
  --colors-effects-shadows-shadow-skeumorphic-inner-border: rgba(31, 31, 31, 0.18000000715255737);
  --colors-background-bg-primary_alt: var(--colors-background-bg-secondary);
  --colors-background-bg-primary_hover: var(--colors-gray-800);
  --colors-background-bg-primary-solid: var(--colors-background-bg-secondary);
  --colors-background-bg-secondary: var(--colors-gray-900);
  --colors-background-bg-secondary_alt: var(--colors-background-bg-primary);
  --colors-background-bg-secondary_hover: var(--colors-gray-800);
  --colors-background-bg-secondary_subtle: var(--colors-gray-900);
  --colors-background-bg-secondary-solid: var(--colors-gray-600);
  --colors-background-bg-tertiary: var(--colors-gray-800);
  --colors-background-bg-quaternary: var(--colors-gray-700);
  --colors-background-bg-active: var(--colors-gray-800);
  --colors-background-bg-disabled: var(--colors-gray-800);
  --colors-background-bg-disabled_subtle: var(--colors-gray-900);
  --colors-background-bg-overlay: rgba(0, 0, 0, 0.5);
  --colors-background-bg-brand-primary: var(--colors-brand-400);
  --colors-background-bg-brand-primary_alt: var(--colors-background-bg-secondary);
  --colors-background-bg-brand-secondary: var(--colors-brand-500);
  --colors-background-bg-brand-solid: var(--colors-brand-500);
  --colors-background-bg-brand-solid_hover: var(--colors-brand-700);
  --colors-background-bg-brand-section: var(--colors-background-bg-secondary);
  --colors-background-bg-brand-section_subtle: var(--colors-background-bg-primary);
  --colors-background-bg-error-primary: var(--colors-error-500);
  --colors-background-bg-error-secondary: var(--colors-error-600);
  --colors-background-bg-error-solid: var(--colors-error-600);
  --colors-background-bg-warning-primary: var(--colors-warning-500);
  --colors-background-bg-warning-secondary: var(--colors-warning-600);
  --colors-background-bg-warning-solid: var(--colors-warning-600);
  --colors-background-bg-success-primary: var(--colors-success-500);
  --colors-background-bg-success-secondary: var(--colors-success-600);
  --colors-background-bg-success-solid: var(--colors-success-600);


  --colors-foreground-fg-brand-primary-500: var(--colors-base-white);
  --colors-background-bg-main: #292929;
--custom-button-gray-border: #737373;
}