.dark-mode {
  --text-color: #FFFFFF;
  --text-color-second: #cccccc;
  --text-color-second-dark: #8c8c8c;

  --icon-color: #8c8c8c;
  --icon-color-light: #A8A8A8;

  --bg-color-rgb-consts: 41, 41, 41;
  --bg-color: rgb(var(--bg-color-rgb-consts));

  --layout-bg-color: rgba(29, 29, 29, 1);

  --bg-color-second-rgb-consts: 49, 49, 49;
  --bg-color-second: rgb(var(--bg-color-second-rgb-consts));

  --border-color-light: #4B4B4B;
  --border-color: #4B4B4B;
  --bg-hover-color: #4B4B4B;

  --button-secondary-bg: #4B4B4B;

  --section-border: 1px solid var(--border-color);
  --border: 1px solid var(--border-color);
  --header-border: 1px solid #383838;

  //Mobile-Menu
  --mobile-menu-bg-color: rgba(var(--bg-color-second-rgb-consts), 0.7);
  --mobile-menu-bg-popup: rgba(var(--bg-color-rgb-consts), 0.8);
  --box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
  ;

  --tag-bg: #4B4B4B;

  //colors
  --popup-bg-color: #4b4b4b;
  --popup-contrast-color: #3E3E3E;
  --popup-hover-color: #3D3D3D;
}