.light-mode {
  --text-color: #292929;
  --text-color-second: #292929;
  --text-color-second-dark: #8c8c8c;

  --icon-color: rgba(140, 140, 140, 1);
  --icon-color-light: #000000;


  --bg-color-rgb-consts: 255, 255, 255;
  --bg-color: rgb(var(--bg-color-rgb-consts));

  --layout-bg-color: rgb(230, 230, 230);

  --bg-color-second-rgb-consts: 247, 247, 247;
  --bg-color-second: rgb(var(--bg-color-second-rgb-consts));

  --border-color-light: #E6E6E6;
  --border-color: #292929;
  --bg-hover-color: #E6E6E6;

  --button-secondary-bg: #F0F0F0;

  --section-border: 1px solid var(--border-color-light);
  --border: 1px solid #CCC;
  --header-border: 1px solid #CCC;

  //Mobile-Menu
  --mobile-menu-bg-color: rgba(var(--bg-color-rgb-consts), 0.9);
  --box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.15);

  --tag-bg: #E6E6E6;
  //colors
  --popup-bg-color: #fff;
  --popup-contrast-color: #E6E6E6;
  --popup-hover-color: #F2F2F2
}

.light-mode {
  /* 1. colors */
  --background-bg-primary: var(--colors-base-white);
  --background-bg-secondary: var(--colors-gray-1);
  --background-bg-primary_hover: var(--colors-gray-1);
  --background-bg-secondary_hover: var(--colors-gray-2);
  --background-bg-tertiary: var(--colors-gray-2);
  --background-bg-tertiary_hover: var(--colors-gray-3);
  --background-bg-brand-solid: var(--colors-brand-5);
  --text-text-primary: var(--colors-gray-7);
  --text-text-secondary: var(--colors-gray-6);
  --text-text-tertiary: var(--colors-gray-5);
  --text-text-white: var(--colors-base-white);
  --button-primary-button-primary-bg: var(--colors-brand-5);
  --button-primary-button-primary-bg_hover: var(--colors-brand-4);
  --button-primary-button-primary-text: var(--text-text-white);
  --foreground-fg-white: var(--colors-base-white);
  --border-border-brand: var(--colors-brand-4);
  --border-border-brand-subtle: var(--colors-brand-3);
  --foreground-fg-primary: var(--colors-gray-6);
  --foreground-fg-secondary: var(--colors-gray-5);
  --foreground-fg-tertiary: var(--colors-gray-4);
  --text-text-disabled: var(--colors-gray-2);
  --text-text-placeholder: var(--colors-gray-3);
  --border-border-primary: var(--colors-gray-4);
  --border-border-secondary: var(--colors-gray-3);
  --button-link-brand-button-link-brand-color: var(--colors-brand-5);
  --button-link-brand-button-link-brand-color-fg: var(--colors-brand-5);
  --button-link-brand-button-link-brand-color_hover: var(--colors-brand-6);
  --foreground-fg-disabled: var(--colors-gray-3);
  --button-link-gray-button-link-gray-color: var(--colors-gray-5);
  --button-link-gray-button-link-gray-color_hover: var(--colors-brand-5);
  --button-link-gray-button-link-gray-color-fg: var(--colors-gray-5);
  --button-secondary-outline-brand-button-secondary-brand-border: var(--colors-brand-5);
  --button-secondary-outline-brand-button-secondary-brand-border_hover: var(--colors-brand-4);
  --button-secondary-outline-brand-button-secondary-brand-text: var(--colors-brand-5);
  --button-secondary-outline-brand-button-secondary-brand-text_hover: var(--colors-brand-4);
  --button-secondary-outline-brand-button-secondary-brand-fg: var(--colors-brand-5);
  --button-secondary-outline-brand-button-secondary-brand-fg_hover: var(--colors-brand-4);
  --background-bg-disabled: var(--colors-gray-1);
  --border-border-disabled: var(--colors-gray-2);
  --button-secondary-outline-negative-button-secondary-negative-border: var(--colors-gray-5);
  --button-secondary-outline-negative-button-secondary-negative-border_hover: var(--colors-brand-5);
  --button-secondary-outline-negative-button-secondary-negative-text: var(--colors-gray-5);
  --button-secondary-outline-negative-button-secondary-negative-text_hover: var(--colors-brand-5);
  --button-secondary-outline-negative-button-secondary-negative-fg: var(--colors-gray-5);
  --button-secondary-outline-negative-button-secondary-negative-fg_hover: var(--colors-brand-5);
  --border-border-brand-solid: var(--colors-brand-5);
  --badge-gray-badge-gray-bg: var(--background-bg-tertiary);
  --badge-gray-badge-gray-text: var(--colors-gray-5);
  --badge-gray-badge-gray-fg: var(--colors-gray-4);
  --background-bg-error-solid: var(--colors-error-5);
  --button-secondary-filled-button-secondary-filled-bg: var(--colors-gray-5);
  --button-secondary-filled-button-secondary-filled-bg_hover: var(--colors-gray-6);
  --button-secondary-filled-button-secondary-filled-text: var(--text-text-white);
  --button-primary-success-button-primary-success-bg: var(--colors-success-5);
  --button-primary-success-button-primary-success-bg_hover: var(--colors-success-4);
  --button-primary-success-button-primary-success-text: var(--text-text-white);
  --background-bg-warning-solid: var(--colors-warning-5);
  --background-bg-success-solid: var(--colors-success-5);
  --button-secondary-outline-gray-button-secondary-gray-border: var(--colors-gray-2);
  --button-secondary-outline-gray-button-secondary-gray-border_hover: var(--colors-brand-5);
  --button-secondary-outline-gray-button-secondary-gray-text: var(--colors-gray-5);
  --button-secondary-outline-gray-button-secondary-gray-text_hover: var(--colors-brand-5);
  --button-secondary-outline-gray-button-secondary-gray-fg: var(--colors-gray-5);
  --button-secondary-outline-gray-button-secondary-gray-fg_hover: var(--colors-brand-5);
  --foreground-fg-disabled-subtle: var(--colors-gray-2);
  --text-text-quarternary: var(--colors-gray-4);
  --text-text-error-primary: var(--colors-error-5);
  --border-border-error: var(--colors-error-5);
  --text-text-quinary: var(--colors-gray-3);
  --foreground-fg-brand-primary: var(--colors-brand-5);
  --background-bg-brand-primary: var(--colors-brand-1);
  --text-text-error-secondary: var(--colors-error-4);
  --text-text-brand-primary: var(--colors-brand-5);
  --text-text-brand-secondary: var(--colors-brand-4);
  --background-bg-brand-secondary: var(--colors-brand-2);
  --foreground-fg-success-primary: var(--colors-success-5);
  --foreground-fg-success-secondary: var(--colors-success-4);
  --background-bg-success-primary: var(--colors-success-1);
  --background-bg-success-secondary: var(--colors-success-2);
  --background-bg-error-primary: var(--colors-error-1);
  --background-bg-error-secondary: var(--colors-error-2);
  --foreground-fg-error-primary: var(--colors-error-5);
  --foreground-fg-error-secondary: var(--colors-error-4);
  --badge-brand-badge-brand-bg: var(--background-bg-brand-primary);
  --badge-brand-badge-brand-text: var(--colors-brand-5);
  --badge-brand-badge-brand-fg: var(--colors-brand-4);
  --border-border-tertiary: var(--colors-gray-2);
  --badge-error-badge-error-bg: var(--background-bg-error-primary);
  --badge-error-badge-error-text: var(--text-text-error-secondary);
  --badge-error-badge-error-fg: var(--text-text-error-secondary);
  --button-primary-error-button-primary-error-bg: var(--colors-error-5);
  --button-primary-error-button-primary-error-bg_hover: var(--colors-error-4);
  --button-primary-error-button-primary-error-text: var(--text-text-white);
  --button-secondary-outline-error-button-secondary-error-border: var(--colors-error-5);
  --button-secondary-outline-error-button-secondary-error-border_hover: var(--colors-error-4);
  --button-secondary-outline-error-button-secondary-error-text: var(--colors-error-5);
  --button-secondary-outline-error-button-secondary-error-text_hover: var(--colors-error-4);
  --button-secondary-outline-error-button-secondary-error-fg: var(--colors-error-5);
  --button-secondary-outline-error-button-secondary-error-fg_hover: var(--colors-error-4);
  --button-link-error-button-link-error-color: var(--colors-error-5);
  --button-link-error-button-link-error-color_hover: var(--colors-error-6);
  --button-link-error-button-link-error-color-fg: var(--colors-error-5);
  --input-input-bg: var(--background-bg-primary);
  --input-input-border: #cccccc;
  --input-input-border_focus: var(--border-border-brand-solid);
  --input-input-border_hover: var(--border-border-primary);
  --input-input-text: var(--border-border-secondary);
  --input-input-text-filled: var(--text-text-primary);
  --input-input-text-error: var(--text-text-error-secondary);
  --foreground-fg-brand-secondary: var(--colors-brand-4);
  --foreground-fg-warning-primary: var(--colors-warning-5);
  --foreground-fg-warning-secondary: var(--colors-warning-4);
  --text-text-success-primary: var(--colors-success-5);
  --text-text-success-secondary: var(--colors-success-4);
  --text-text-warning-primary: var(--colors-warning-5);
  --text-text-warning-secondary: var(--colors-warning-4);
  --text-text-senary: var(--colors-gray-2);
  --background-bg-white: var(--colors-base-white);
  --background-bg-quarterary: var(--colors-gray-3);
  --background-bg-quarterary_hover: var(--colors-gray-4);
  // BTA2.0
  --colors-text-text-primary-900: #313131;
  --button-secondary-bg2: #FFFFFF;
  --button-secondary-border: #D2D2D2;
    --button-secondary-fg: #525252;
  --colors-background-bg-quaternary: #EDEDED;
    --colors-foreground-fg-secondary-700: #525252;
    --colors-border-border-secondary: #E6E6E6;
    --colors-border-border-primary: #D2D2D2;
    --colors-foreground-fg-tertiary-600: #6A6A6A;
    --colors-text-text-secondary-700: #525252;
    --colors-foreground-fg-quinary-400: #8C8C8C;
    --colors-background-bg-primary_alt: #FFF;
    --colors-foreground-fg-primary-900: #313131;
    --colors-background-bg-disabled: #F7F7F7;
    --colors-border-border-disabled_subtle: #EDEDED;
    --colors-foreground-fg-disabled: #8C8C8C;
    --component-colors-utility-gray-utility-gray-200: #EDEDED;
    --component-colors-utility-gray-utility-gray-50: #FBFBFB;
    --component-colors-utility-gray-utility-gray-700: #525252;
    --colors-effects-shadows-shadow-lg_01: rgba(31, 31, 31, 0.08);
      --colors-effects-shadows-shadow-lg_02: rgba(31, 31, 31, 0.03);
}
//BTA2.0
/* 1. Color modes - Light mode */
.light-mode {
  //UNTITLED
  --colors-text-text-primary-900: var(--colors-base-black);
  --colors-text-text-primary_on-brand: var(--colors-base-white);
  --colors-text-text-secondary-700: var(--colors-gray-light-mode-700);
  --colors-text-text-secondary_hover: var(--colors-gray-light-mode-800);
  --colors-text-text-secondary_on-brand: var(--colors-brand-200);
  --colors-text-text-tertiary-600: var(--colors-gray-light-mode-600);
  --colors-text-text-tertiary_hover: var(--colors-gray-light-mode-700);
  --colors-text-text-tertiary_on-brand: var(--colors-brand-200);
  --colors-text-text-quaternary-500: var(--colors-gray-light-mode-500);
  --colors-text-text-quaternary_on-brand: var(--colors-brand-300);
  --colors-text-text-white: var(--colors-base-white);
  --colors-text-text-disabled: var(--colors-gray-light-mode-500);
  --colors-text-text-placeholder: var(--colors-gray-light-mode-500);
  --colors-text-text-placeholder_subtle: var(--colors-gray-light-mode-300);
  --colors-text-text-brand-primary-900: var(--colors-brand-900);
  --colors-text-text-brand-secondary-700: var(--colors-brand-700);
  --colors-text-text-brand-secondary_hover: var(--colors-brand-800);
  --colors-text-text-brand-tertiary-600: var(--colors-brand-600);
  --colors-text-text-brand-tertiary_alt: var(--colors-brand-600);
  --colors-text-text-error-primary-600: var(--colors-error-600);
  --colors-text-text-error-primary_hover: var(--colors-error-700);
  --colors-text-text-warning-primary-600: var(--colors-warning-600);
  --colors-text-text-success-primary-600: var(--colors-success-600);
  --colors-border-border-primary: var(--colors-gray-light-mode-300);
  --colors-border-border-secondary: var(--colors-gray-light-mode-200);
  --colors-border-border-secondary_alt: #00000014;
  --colors-border-border-tertiary: var(--colors-gray-light-mode-100);
  --colors-border-border-disabled: var(--colors-gray-light-mode-300);
  --colors-border-border-disabled_subtle: var(--colors-gray-light-mode-200);
  --colors-border-border-brand: var(--colors-brand-500);
  --colors-border-border-brand_alt: var(--colors-brand-600);
  --colors-border-border-error: var(--colors-error-500);
  --colors-border-border-error_subtle: var(--colors-error-300);
  --colors-foreground-fg-primary-900: var(--colors-gray-light-mode-900);
  --component-colors-alpha-alpha-white-10: #FFFFFF1A;
  --component-colors-alpha-alpha-white-20: #FFFFFF33;
  --component-colors-alpha-alpha-white-30: #FFFFFF4D;
  --component-colors-alpha-alpha-white-40: #FFFFFF66;
  --component-colors-alpha-alpha-white-50: #FFFFFF80;
  --component-colors-alpha-alpha-white-60: #FFFFFF99;
  --component-colors-alpha-alpha-white-70: #FFFFFFB2;
  --component-colors-alpha-alpha-white-80: #FFFFFFCC;
  --component-colors-alpha-alpha-white-90: #FFFFFFE5;
  --component-colors-alpha-alpha-white-100: #FFFFFFFF;
  --component-colors-alpha-alpha-black-10: #0000001A;
  --component-colors-alpha-alpha-black-20: #00000033;
  --component-colors-alpha-alpha-black-30: #0000004D;
  --component-colors-alpha-alpha-black-40: #00000066;
  --component-colors-alpha-alpha-black-50: #00000080;
  --component-colors-alpha-alpha-black-60: #00000099;
  --component-colors-alpha-alpha-black-70: #000000B2;
  --component-colors-alpha-alpha-black-80: #000000CC;
  --component-colors-alpha-alpha-black-90: #000000E5;
  --component-colors-alpha-alpha-black-100: #000000FF;
  --component-colors-utility-gray-utility-gray-50: var(--colors-gray-light-mode-50);
  --component-colors-components-app-store-badges-app-store-badge-border: #A6A6A6FF;
  --component-colors-components-avatars-avatar-styles-bg-neutral: #E0E0E0FF;
  --component-colors-components-buttons-button-primary-icon: var(--colors-brand-300);
  --component-colors-components-buttons-button-primary-icon_hover: var(--colors-brand-200);
  --component-colors-components-buttons-button-destructive-primary-icon: var(--colors-error-300);
  --component-colors-components-buttons-button-destructive-primary-icon_hover: var(--colors-error-200);
  --component-colors-components-footers-footer-button-fg: var(--colors-brand-200);
  --component-colors-components-footers-footer-button-fg_hover: var(--colors-base-white);
  --component-colors-components-icons-icons-icon-fg-brand: var(--colors-brand-600);
  --component-colors-components-icons-icons-icon-fg-brand_on-brand: var(--colors-brand-200);
  --component-colors-components-icons-featured-icons-featured-icon-light-fg-brand: var(--colors-brand-600);
  --component-colors-components-icons-featured-icons-featured-icon-light-fg-gray: var(--colors-gray-light-mode-500);
  --component-colors-components-icons-featured-icons-featured-icon-light-fg-error: var(--colors-error-600);
  --component-colors-components-icons-featured-icons-featured-icon-light-fg-warning: var(--colors-warning-600);
  --component-colors-components-icons-featured-icons-featured-icon-light-fg-success: var(--colors-success-600);
  --component-colors-components-mockups-screen-mockup-border: var(--colors-gray-light-mode-900);
  --component-colors-components-sliders-slider-handle-bg: var(--colors-base-white);
  --component-colors-components-sliders-slider-handle-border: var(--colors-brand-600);
  --component-colors-components-toggles-toggle-button-fg_disabled: var(--colors-gray-light-mode-50);
  --component-colors-components-toggles-toggle-border: var(--colors-gray-light-mode-300);
  --component-colors-components-toggles-toggle-slim-border_pressed: var(--colors-background-bg-brand-solid);
  --component-colors-components-toggles-toggle-slim-border_pressed-hover: var(--colors-background-bg-brand-solid_hover);
  --component-colors-components-Tooltips-tooltip-supporting-text: var(--colors-gray-light-mode-300);
  --component-colors-components-text-editor-text-editor-icon-fg: var(--colors-gray-light-mode-400);
  --component-colors-components-text-editor-text-editor-icon-fg_active: var(--colors-gray-light-mode-500);
  --component-colors-utility-gray-utility-gray-100: var(--colors-gray-light-mode-100);
  --component-colors-utility-gray-utility-gray-200: var(--colors-gray-light-mode-200);
  --component-colors-utility-gray-utility-gray-300: var(--colors-gray-light-mode-300);
  --component-colors-utility-gray-utility-gray-400: var(--colors-gray-light-mode-400);
  --component-colors-utility-gray-utility-gray-500: var(--colors-gray-light-mode-500);
  --component-colors-utility-gray-utility-gray-600: var(--colors-gray-light-mode-600);
  --component-colors-utility-gray-utility-gray-700: var(--colors-gray-light-mode-700);
  --component-colors-utility-gray-utility-gray-800: var(--colors-gray-light-mode-800);
  --component-colors-utility-gray-utility-gray-900: var(--colors-gray-light-mode-900);
  --component-colors-utility-brand-utility-brand-50: var(--colors-brand-50);
  --component-colors-utility-brand-utility-brand-50_alt: var(--colors-brand-50);
  --component-colors-utility-brand-utility-brand-100: var(--colors-brand-100);
  --component-colors-utility-brand-utility-brand-100_alt: var(--colors-brand-100);
  --component-colors-utility-brand-utility-brand-200: var(--colors-brand-200);
  --component-colors-utility-brand-utility-brand-200_alt: var(--colors-brand-200);
  --component-colors-utility-brand-utility-brand-300: var(--colors-brand-300);
  --component-colors-utility-brand-utility-brand-300_alt: var(--colors-brand-300);
  --component-colors-utility-brand-utility-brand-400: var(--colors-brand-400);
  --component-colors-utility-brand-utility-brand-400_alt: var(--colors-brand-400);
  --component-colors-utility-brand-utility-brand-500: var(--colors-brand-500);
  --component-colors-utility-brand-utility-brand-500_alt: var(--colors-brand-500);
  --component-colors-utility-brand-utility-brand-600: var(--colors-brand-600);
  --component-colors-utility-brand-utility-brand-600_alt: var(--colors-brand-600);
  --component-colors-utility-brand-utility-brand-700: var(--colors-brand-700);
  --component-colors-utility-brand-utility-brand-700_alt: var(--colors-brand-700);
  --component-colors-utility-brand-utility-brand-800: var(--colors-brand-800);
  --component-colors-utility-brand-utility-brand-800_alt: var(--colors-brand-800);
  --component-colors-utility-brand-utility-brand-900: var(--colors-brand-900);
  --component-colors-utility-brand-utility-brand-900_alt: var(--colors-brand-900);
  --component-colors-utility-error-utility-error-50: var(--colors-error-50);
  --component-colors-utility-error-utility-error-100: var(--colors-error-100);
  --component-colors-utility-error-utility-error-200: var(--colors-error-200);
  --component-colors-utility-error-utility-error-300: var(--colors-error-300);
  --component-colors-utility-error-utility-error-400: var(--colors-error-400);
  --component-colors-utility-error-utility-error-500: var(--colors-error-500);
  --component-colors-utility-error-utility-error-600: var(--colors-error-600);
  --component-colors-utility-error-utility-error-700: var(--colors-error-700);
  --component-colors-utility-warning-utility-warning-50: var(--colors-warning-50);
  --component-colors-utility-warning-utility-warning-100: var(--colors-warning-100);
  --component-colors-utility-warning-utility-warning-200: var(--colors-warning-200);
  --component-colors-utility-warning-utility-warning-300: var(--colors-warning-300);
  --component-colors-utility-warning-utility-warning-400: var(--colors-warning-400);
  --component-colors-utility-warning-utility-warning-500: var(--colors-warning-500);
  --component-colors-utility-warning-utility-warning-600: var(--colors-warning-600);
  --component-colors-utility-warning-utility-warning-700: var(--colors-warning-700);
  --component-colors-utility-success-utility-success-50: var(--colors-success-50);
  --component-colors-utility-success-utility-success-100: var(--colors-success-100);
  --component-colors-utility-success-utility-success-200: var(--colors-success-200);
  --component-colors-utility-success-utility-success-300: var(--colors-success-300);
  --component-colors-utility-success-utility-success-400: var(--colors-success-400);
  --component-colors-utility-success-utility-success-500: var(--colors-success-500);
  --component-colors-utility-success-utility-success-600: var(--colors-success-600);
  --component-colors-utility-success-utility-success-700: var(--colors-success-700);
  --component-colors-utility-gray-blue-utility-gray-blue-50: var(--colors-gray-blue-50);
  --component-colors-utility-gray-blue-utility-gray-blue-100: var(--colors-gray-blue-100);
  --component-colors-utility-gray-blue-utility-gray-blue-200: var(--colors-gray-blue-200);
  --component-colors-utility-gray-blue-utility-gray-blue-300: var(--colors-gray-blue-300);
  --component-colors-utility-gray-blue-utility-gray-blue-400: var(--colors-gray-blue-400);
  --component-colors-utility-gray-blue-utility-gray-blue-500: var(--colors-gray-blue-500);
  --component-colors-utility-gray-blue-utility-gray-blue-600: var(--colors-gray-blue-600);
  --component-colors-utility-gray-blue-utility-gray-blue-700: var(--colors-gray-blue-700);
  --component-colors-utility-green-utility-green-50: var(--colors-green-50);
  --component-colors-utility-green-utility-green-100: var(--colors-green-100);
  --component-colors-utility-green-utility-green-200: var(--colors-green-200);
  --component-colors-utility-green-utility-green-300: var(--colors-green-300);
  --component-colors-utility-green-utility-green-400: var(--colors-green-400);
  --component-colors-utility-green-utility-green-500: var(--colors-green-500);
  --component-colors-utility-green-utility-green-600: var(--colors-green-600);
  --component-colors-utility-green-utility-green-700: var(--colors-green-700);
  --component-colors-utility-blue-light-utility-blue-light-50: var(--colors-blue-light-50);
  --component-colors-utility-blue-light-utility-blue-light-100: var(--colors-blue-light-100);
  --component-colors-utility-blue-light-utility-blue-light-200: var(--colors-blue-light-200);
  --component-colors-utility-blue-light-utility-blue-light-300: var(--colors-blue-light-300);
  --component-colors-utility-blue-light-utility-blue-light-400: var(--colors-blue-light-400);
  --component-colors-utility-blue-light-utility-blue-light-500: var(--colors-blue-light-500);
  --component-colors-utility-blue-light-utility-blue-light-600: var(--colors-blue-light-600);
  --component-colors-utility-blue-light-utility-blue-light-700: var(--colors-blue-light-700);
  --component-colors-utility-blue-utility-blue-50: var(--colors-blue-50);
  --component-colors-utility-blue-utility-blue-100: var(--colors-blue-100);
  --component-colors-utility-blue-utility-blue-200: var(--colors-blue-200);
  --component-colors-utility-blue-utility-blue-300: var(--colors-blue-300);
  --component-colors-utility-blue-utility-blue-400: var(--colors-blue-400);
  --component-colors-utility-blue-utility-blue-500: var(--colors-blue-500);
  --component-colors-utility-blue-utility-blue-600: var(--colors-blue-600);
  --component-colors-utility-blue-utility-blue-700: var(--colors-blue-700);
  --component-colors-utility-blue-dark-utility-blue-dark-50: var(--colors-blue-dark-50);
  --component-colors-utility-blue-dark-utility-blue-dark-100: var(--colors-blue-dark-100);
  --component-colors-utility-blue-dark-utility-blue-dark-200: var(--colors-blue-dark-200);
  --component-colors-utility-blue-dark-utility-blue-dark-300: var(--colors-blue-dark-300);
  --component-colors-utility-blue-dark-utility-blue-dark-400: var(--colors-blue-dark-400);
  --component-colors-utility-blue-dark-utility-blue-dark-500: var(--colors-blue-dark-500);
  --component-colors-utility-blue-dark-utility-blue-dark-600: var(--colors-blue-dark-600);
  --component-colors-utility-blue-dark-utility-blue-dark-700: var(--colors-blue-dark-700);
  --component-colors-utility-indigo-utility-indigo-50: var(--colors-indigo-50);
  --component-colors-utility-indigo-utility-indigo-100: var(--colors-indigo-100);
  --component-colors-utility-indigo-utility-indigo-200: var(--colors-indigo-200);
  --component-colors-utility-indigo-utility-indigo-300: var(--colors-indigo-300);
  --component-colors-utility-indigo-utility-indigo-400: var(--colors-indigo-400);
  --component-colors-utility-indigo-utility-indigo-500: var(--colors-indigo-500);
  --component-colors-utility-indigo-utility-indigo-600: var(--colors-indigo-600);
  --component-colors-utility-indigo-utility-indigo-700: var(--colors-indigo-700);
  --component-colors-utility-purple-utility-purple-50: var(--colors-purple-50);
  --component-colors-utility-purple-utility-purple-100: var(--colors-purple-100);
  --component-colors-utility-purple-utility-purple-200: var(--colors-purple-200);
  --component-colors-utility-purple-utility-purple-300: var(--colors-purple-300);
  --component-colors-utility-purple-utility-purple-400: var(--colors-purple-400);
  --component-colors-utility-purple-utility-purple-500: var(--colors-purple-500);
  --component-colors-utility-purple-utility-purple-600: var(--colors-purple-600);
  --component-colors-utility-purple-utility-purple-700: var(--colors-purple-700);
  --component-colors-utility-fuchsia-utility-fuchsia-50: var(--colors-fuchsia-50);
  --component-colors-utility-fuchsia-utility-fuchsia-100: var(--colors-fuchsia-100);
  --component-colors-utility-fuchsia-utility-fuchsia-200: var(--colors-fuchsia-200);
  --component-colors-utility-fuchsia-utility-fuchsia-300: var(--colors-fuchsia-300);
  --component-colors-utility-fuchsia-utility-fuchsia-400: var(--colors-fuchsia-400);
  --component-colors-utility-fuchsia-utility-fuchsia-500: var(--colors-fuchsia-500);
  --component-colors-utility-fuchsia-utility-fuchsia-600: var(--colors-fuchsia-600);
  --component-colors-utility-fuchsia-utility-fuchsia-700: var(--colors-fuchsia-700);
  --component-colors-utility-pink-utility-pink-50: var(--colors-pink-50);
  --component-colors-utility-pink-utility-pink-100: var(--colors-pink-100);
  --component-colors-utility-pink-utility-pink-200: var(--colors-pink-200);
  --component-colors-utility-pink-utility-pink-300: var(--colors-pink-300);
  --component-colors-utility-pink-utility-pink-400: var(--colors-pink-400);
  --component-colors-utility-pink-utility-pink-500: var(--colors-pink-500);
  --component-colors-utility-pink-utility-pink-600: var(--colors-pink-600);
  --component-colors-utility-pink-utility-pink-700: var(--colors-pink-700);
  --component-colors-utility-orange-dark-utility-orange-dark-50: var(--colors-orange-dark-50);
  --component-colors-utility-orange-dark-utility-orange-dark-100: var(--colors-orange-dark-100);
  --component-colors-utility-orange-dark-utility-orange-dark-200: var(--colors-orange-dark-200);
  --component-colors-utility-orange-dark-utility-orange-dark-300: var(--colors-orange-dark-300);
  --component-colors-utility-orange-dark-utility-orange-dark-400: var(--colors-orange-dark-400);
  --component-colors-utility-orange-dark-utility-orange-dark-500: var(--colors-orange-dark-500);
  --component-colors-utility-orange-dark-utility-orange-dark-600: var(--colors-orange-dark-600);
  --component-colors-utility-orange-dark-utility-orange-dark-700: var(--colors-orange-dark-700);
  --component-colors-utility-orange-utility-orange-50: var(--colors-orange-50);
  --component-colors-utility-orange-utility-orange-100: var(--colors-orange-100);
  --component-colors-utility-orange-utility-orange-200: var(--colors-orange-200);
  --component-colors-utility-orange-utility-orange-300: var(--colors-orange-300);
  --component-colors-utility-orange-utility-orange-400: var(--colors-orange-400);
  --component-colors-utility-orange-utility-orange-500: var(--colors-orange-500);
  --component-colors-utility-orange-utility-orange-600: var(--colors-orange-600);
  --component-colors-utility-orange-utility-orange-700: var(--colors-orange-700);
  --colors-foreground-fg-secondary-700: var(--colors-gray-light-mode-700);
  --colors-foreground-fg-secondary_hover: var(--colors-gray-light-mode-800);
  --colors-foreground-fg-tertiary-600: var(--colors-gray-light-mode-600);
  --colors-foreground-fg-tertiary_hover: var(--colors-gray-light-mode-700);
  --colors-foreground-fg-quaternary-400: var(--colors-gray-light-mode-400);
  --colors-foreground-fg-quaternary_hover: var(--colors-gray-light-mode-500);
  --colors-foreground-fg-white: var(--colors-base-white);
  --colors-foreground-fg-disabled: var(--colors-gray-light-mode-400);
  --colors-foreground-fg-disabled_subtle: var(--colors-gray-light-mode-300);
  --colors-foreground-fg-brand-primary-600: var(--colors-brand-500);
  --colors-foreground-fg-brand-primary_alt: var(--colors-foreground-fg-brand-primary-600);
  --colors-foreground-fg-brand-secondary-500: var(--colors-brand-500);
  --colors-foreground-fg-brand-secondary_alt: var(--colors-foreground-fg-brand-secondary-500);
  --colors-foreground-fg-brand-secondary_hover: var(--colors-brand-600);
  --colors-foreground-fg-error-primary: var(--colors-error-600);
  --colors-foreground-fg-error-secondary: var(--colors-error-500);
  --colors-foreground-fg-warning-primary: var(--colors-warning-600);
  --colors-foreground-fg-warning-secondary: var(--colors-warning-500);
  --colors-foreground-fg-success-primary: var(--colors-success-600);
  --colors-foreground-fg-success-secondary: var(--colors-success-500);
  --colors-background-bg-primary: var(--colors-base-white);
  --colors-effects-focus-rings-focus-ring: var(--colors-brand-500);
  --colors-effects-focus-rings-focus-ring-error: var(--colors-error-500);
  --colors-effects-shadows-shadow-xs: #0A0D120D;
  --colors-effects-portfolio-mockups-shadow-main-centre-md: #0A0D1224;
  --colors-effects-portfolio-mockups-shadow-main-centre-lg: #0A0D122E;
  --colors-effects-portfolio-mockups-shadow-overlay-lg: #0A0D121F;
  --colors-effects-portfolio-mockups-shadow-grid-md: #0A0D1214;
  --colors-effects-shadows-shadow-sm_01: #0A0D121A;
  --colors-effects-shadows-shadow-sm_02: #0A0D121A;
  --colors-effects-shadows-shadow-md_01: #0A0D121A;
  --colors-effects-shadows-shadow-md_02: #0A0D120F;
  --colors-effects-shadows-shadow-lg_01: #0A0D1214;
  --colors-effects-shadows-shadow-lg_02: #0A0D1208;
  --colors-effects-shadows-shadow-lg_03: #0A0D120A;
  --colors-effects-shadows-shadow-xl_01: #0A0D1214;
  --colors-effects-shadows-shadow-xl_02: #0A0D1208;
  --colors-effects-shadows-shadow-xl_03: #0A0D120A;
  --colors-effects-shadows-shadow-2xl_01: #0A0D122E;
  --colors-effects-shadows-shadow-2xl_02: #0A0D120A;
  --colors-effects-shadows-shadow-3xl_01: #0A0D1224;
  --colors-effects-shadows-shadow-3xl_02: #0A0D120A;
  --colors-effects-shadows-shadow-skeumorphic-inner: #0A0D120D;
  --colors-effects-shadows-shadow-skeumorphic-inner-border: #0A0D122E;
  --colors-background-bg-primary_alt: var(--colors-base-white);
  --colors-background-bg-primary_hover: var(--colors-gray-light-mode-50);
  --colors-background-bg-primary-solid: var(--colors-gray-light-mode-950);
  --colors-background-bg-secondary: var(--colors-gray-light-mode-50);
  --colors-background-bg-secondary_alt: var(--colors-gray-light-mode-50);
  --colors-background-bg-secondary_hover: var(--colors-gray-light-mode-100);
  --colors-background-bg-secondary_subtle: var(--colors-gray-light-mode-25);
  --colors-background-bg-secondary-solid: var(--colors-gray-light-mode-600);
  --colors-background-bg-tertiary: var(--colors-gray-light-mode-100);
  --colors-background-bg-quaternary: var(--colors-gray-light-mode-200);
  --colors-background-bg-active: var(--colors-gray-light-mode-50);
  --colors-background-bg-disabled: var(--colors-gray-light-mode-100);
  --colors-background-bg-disabled_subtle: var(--colors-gray-light-mode-50);
  --colors-background-bg-overlay: var(--colors-gray-light-mode-950);
  --colors-background-bg-brand-primary: var(--colors-brand-50);
  --colors-background-bg-brand-primary_alt: var(--colors-brand-50);
  --colors-background-bg-brand-secondary: var(--colors-brand-100);
  --colors-background-bg-brand-solid: var(--colors-brand-600);
  --colors-background-bg-brand-solid_hover: var(--colors-brand-700);
  --colors-background-bg-brand-section: var(--colors-brand-800);
  --colors-background-bg-brand-section_subtle: var(--colors-brand-700);
  --colors-background-bg-error-primary: var(--colors-error-50);
  --colors-background-bg-error-secondary: var(--colors-error-100);
  --colors-background-bg-error-solid: var(--colors-error-600);
  --colors-background-bg-error-solid_hover: var(--colors-error-700);
  --colors-background-bg-warning-primary: var(--colors-warning-50);
  --colors-background-bg-warning-secondary: var(--colors-warning-100);
  --colors-background-bg-warning-solid: var(--colors-warning-600);
  --colors-background-bg-success-primary: var(--colors-success-50);
  --colors-background-bg-success-secondary: var(--colors-success-100);
  --colors-background-bg-success-solid: var(--colors-success-600);
  --component-colors-utility-yellow-utility-yellow-50: var(--colors-yellow-50);
  --component-colors-utility-yellow-utility-yellow-100: var(--colors-yellow-100);
  --component-colors-utility-yellow-utility-yellow-200: var(--colors-yellow-200);
  --component-colors-utility-yellow-utility-yellow-300: var(--colors-yellow-300);
  --component-colors-utility-yellow-utility-yellow-400: var(--colors-yellow-400);
  --component-colors-utility-yellow-utility-yellow-500: var(--colors-yellow-500);
  --component-colors-utility-yellow-utility-yellow-600: var(--colors-yellow-600);
  --component-colors-utility-yellow-utility-yellow-700: var(--colors-yellow-700);
  --colors-background-black-white: #FFFFFFFF;


//BTA2.0
   --colors-text-text-primary: var(--colors-gray-900);
  --colors-text-text-primary_on-brand: var(--colors-base-white);
  --colors-text-text-secondary-700: var(--colors-gray-light-mode-700);
  --colors-text-text-secondary_hover: var(--colors-gray-light-mode-800);
  --colors-text-text-secondary_on-brand: var(--colors-brand-200);
  --colors-text-text-tertiary-600: var(--colors-gray-light-mode-600);
  --colors-text-text-tertiary_hover: var(--colors-gray-light-mode-700);
  --colors-text-text-tertiary_on-brand: var(--colors-brand-200);
  --colors-text-text-quaternary-500: var(--colors-gray-light-mode-500);
  --colors-text-text-quaternary_on-brand: var(--colors-brand-300);
  --colors-text-text-white: var(--colors-base-white);
  --colors-text-text-disabled: var(--colors-gray-light-mode-500);
  --colors-text-text-placeholder: var(--colors-gray-light-mode-500);
  --colors-text-text-placeholder_subtle: var(--colors-gray-light-mode-300);
  --colors-text-text-brand-primary-900: var(--colors-brand-900);
  --colors-text-text-brand-secondary-700: var(--colors-brand-700);
  --colors-text-text-brand-secondary_hover: var(--colors-brand-800);
  --colors-text-text-brand-tertiary-600: var(--colors-brand-600);
  --colors-text-text-brand-tertiary_alt: var(--colors-brand-600);
  --colors-text-text-error-primary-600: var(--colors-error-600);
  --colors-text-text-error-primary_hover: var(--colors-error-700);
  --colors-text-text-warning-primary-600: var(--colors-warning-600);
  --colors-text-text-success-primary-600: var(--colors-success-600);
  --colors-border-border-primary: var(--colors-gray-light-mode-300);
  --colors-border-border-secondary: var(--colors-gray-light-mode-200);
  --colors-border-border-secondary_alt: #00000014;
  --colors-border-border-tertiary: var(--colors-gray-light-mode-100);
  --colors-border-border-disabled: var(--colors-gray-light-mode-300);
  --colors-border-border-disabled_subtle: var(--colors-gray-light-mode-200);
  --colors-border-border-brand: var(--colors-brand-500);
  --colors-border-border-brand_alt: var(--colors-brand-600);
  --colors-border-border-error: var(--colors-error-500);
  --colors-border-border-error_subtle: var(--colors-error-300);
  --colors-foreground-fg-primary-900: var(--colors-gray-light-mode-900);
  --component-colors-alpha-alpha-white-10: #FFFFFF1A;
  --component-colors-alpha-alpha-white-20: #FFFFFF33;
  --component-colors-alpha-alpha-white-30: #FFFFFF4D;
  --component-colors-alpha-alpha-white-40: #FFFFFF66;
  --component-colors-alpha-alpha-white-50: #FFFFFF80;
  --component-colors-alpha-alpha-white-60: #FFFFFF99;
  --component-colors-alpha-alpha-white-70: #FFFFFFB2;
  --component-colors-alpha-alpha-white-80: #FFFFFFCC;
  --component-colors-alpha-alpha-white-90: #FFFFFFE5;
  --component-colors-alpha-alpha-white-100: #FFFFFFFF;
  --component-colors-alpha-alpha-black-10: #0000001A;
  --component-colors-alpha-alpha-black-20: #00000033;
  --component-colors-alpha-alpha-black-30: #0000004D;
  --component-colors-alpha-alpha-black-40: #00000066;
  --component-colors-alpha-alpha-black-50: #00000080;
  --component-colors-alpha-alpha-black-60: #00000099;
  --component-colors-alpha-alpha-black-70: #000000B2;
  --component-colors-alpha-alpha-black-80: #000000CC;
  --component-colors-alpha-alpha-black-90: #000000E5;
  --component-colors-alpha-alpha-black-100: #000000FF;
  --component-colors-utility-gray-utility-gray-50: var(--colors-gray-light-mode-50);
  --component-colors-components-app-store-badges-app-store-badge-border: #A6A6A6FF;
  --component-colors-components-avatars-avatar-styles-bg-neutral: #E0E0E0FF;
  --component-colors-components-buttons-button-primary-icon: var(--colors-brand-300);
  --component-colors-components-buttons-button-primary-icon_hover: var(--colors-brand-200);
  --component-colors-components-buttons-button-destructive-primary-icon: var(--colors-error-300);
  --component-colors-components-buttons-button-destructive-primary-icon_hover: var(--colors-error-200);
  --component-colors-components-footers-footer-button-fg: var(--colors-brand-200);
  --component-colors-components-footers-footer-button-fg_hover: var(--colors-base-white);
  --component-colors-components-icons-icons-icon-fg-brand: var(--colors-brand-600);
  --component-colors-components-icons-icons-icon-fg-brand_on-brand: var(--colors-brand-200);
  --component-colors-components-icons-featured-icons-featured-icon-light-fg-brand: var(--colors-brand-600);
  --component-colors-components-icons-featured-icons-featured-icon-light-fg-gray: var(--colors-gray-light-mode-500);
  --component-colors-components-icons-featured-icons-featured-icon-light-fg-error: var(--colors-error-600);
  --component-colors-components-icons-featured-icons-featured-icon-light-fg-warning: var(--colors-warning-600);
  --component-colors-components-icons-featured-icons-featured-icon-light-fg-success: var(--colors-success-600);
  --component-colors-components-mockups-screen-mockup-border: var(--colors-gray-light-mode-900);
  --component-colors-components-sliders-slider-handle-bg: var(--colors-base-white);
  --component-colors-components-sliders-slider-handle-border: var(--colors-brand-600);
  --component-colors-components-toggles-toggle-button-fg_disabled: var(--colors-gray-light-mode-50);
  --component-colors-components-toggles-toggle-border: var(--colors-gray-light-mode-300);
  --component-colors-components-toggles-toggle-slim-border_pressed: var(--colors-background-bg-brand-solid);
  --component-colors-components-toggles-toggle-slim-border_pressed-hover: var(--colors-background-bg-brand-solid_hover);
  --component-colors-components-Tooltips-tooltip-supporting-text: var(--colors-gray-light-mode-300);
  --component-colors-components-text-editor-text-editor-icon-fg: var(--colors-gray-light-mode-400);
  --component-colors-components-text-editor-text-editor-icon-fg_active: var(--colors-gray-light-mode-500);
  --component-colors-utility-gray-utility-gray-100: var(--colors-gray-light-mode-100);
  --component-colors-utility-gray-utility-gray-200: var(--colors-gray-light-mode-200);
  --component-colors-utility-gray-utility-gray-300: var(--colors-gray-light-mode-300);
  --component-colors-utility-gray-utility-gray-400: var(--colors-gray-light-mode-400);
  --component-colors-utility-gray-utility-gray-500: var(--colors-gray-light-mode-500);
  --component-colors-utility-gray-utility-gray-600: var(--colors-gray-light-mode-600);
  --component-colors-utility-gray-utility-gray-700: var(--colors-gray-light-mode-700);
  --component-colors-utility-gray-utility-gray-800: var(--colors-gray-light-mode-800);
  --component-colors-utility-gray-utility-gray-900: var(--colors-gray-light-mode-900);
  --component-colors-utility-brand-utility-brand-50: var(--colors-brand-50);
  --component-colors-utility-brand-utility-brand-50_alt: var(--colors-brand-50);
  --component-colors-utility-brand-utility-brand-100: var(--colors-brand-100);
  --component-colors-utility-brand-utility-brand-100_alt: var(--colors-brand-100);
  --component-colors-utility-brand-utility-brand-200: var(--colors-brand-200);
  --component-colors-utility-brand-utility-brand-200_alt: var(--colors-brand-200);
  --component-colors-utility-brand-utility-brand-300: var(--colors-brand-300);
  --component-colors-utility-brand-utility-brand-300_alt: var(--colors-brand-300);
  --component-colors-utility-brand-utility-brand-400: var(--colors-brand-400);
  --component-colors-utility-brand-utility-brand-400_alt: var(--colors-brand-400);
  --component-colors-utility-brand-utility-brand-500: var(--colors-brand-500);
  --component-colors-utility-brand-utility-brand-500_alt: var(--colors-brand-500);
  --component-colors-utility-brand-utility-brand-600: var(--colors-brand-600);
  --component-colors-utility-brand-utility-brand-600_alt: var(--colors-brand-600);
  --component-colors-utility-brand-utility-brand-700: var(--colors-brand-700);
  --component-colors-utility-brand-utility-brand-700_alt: var(--colors-brand-700);
  --component-colors-utility-brand-utility-brand-800: var(--colors-brand-800);
  --component-colors-utility-brand-utility-brand-800_alt: var(--colors-brand-800);
  --component-colors-utility-brand-utility-brand-900: var(--colors-brand-900);
  --component-colors-utility-brand-utility-brand-900_alt: var(--colors-brand-900);
  --component-colors-utility-error-utility-error-50: var(--colors-error-50);
  --component-colors-utility-error-utility-error-100: var(--colors-error-100);
  --component-colors-utility-error-utility-error-200: var(--colors-error-200);
  --component-colors-utility-error-utility-error-300: var(--colors-error-300);
  --component-colors-utility-error-utility-error-400: var(--colors-error-400);
  --component-colors-utility-error-utility-error-500: var(--colors-error-500);
  --component-colors-utility-error-utility-error-600: var(--colors-error-600);
  --component-colors-utility-error-utility-error-700: var(--colors-error-700);
  --component-colors-utility-warning-utility-warning-50: var(--colors-warning-50);
  --component-colors-utility-warning-utility-warning-100: var(--colors-warning-100);
  --component-colors-utility-warning-utility-warning-200: var(--colors-warning-200);
  --component-colors-utility-warning-utility-warning-300: var(--colors-warning-300);
  --component-colors-utility-warning-utility-warning-400: var(--colors-warning-400);
  --component-colors-utility-warning-utility-warning-500: var(--colors-warning-500);
  --component-colors-utility-warning-utility-warning-600: var(--colors-warning-600);
  --component-colors-utility-warning-utility-warning-700: var(--colors-warning-700);
  --component-colors-utility-success-utility-success-50: var(--colors-success-50);
  --component-colors-utility-success-utility-success-100: var(--colors-success-100);
  --component-colors-utility-success-utility-success-200: var(--colors-success-200);
  --component-colors-utility-success-utility-success-300: var(--colors-success-300);
  --component-colors-utility-success-utility-success-400: var(--colors-success-400);
  --component-colors-utility-success-utility-success-500: var(--colors-success-500);
  --component-colors-utility-success-utility-success-600: var(--colors-success-600);
  --component-colors-utility-success-utility-success-700: var(--colors-success-700);
  --component-colors-utility-gray-blue-utility-gray-blue-50: var(--colors-gray-blue-50);
  --component-colors-utility-gray-blue-utility-gray-blue-100: var(--colors-gray-blue-100);
  --component-colors-utility-gray-blue-utility-gray-blue-200: var(--colors-gray-blue-200);
  --component-colors-utility-gray-blue-utility-gray-blue-300: var(--colors-gray-blue-300);
  --component-colors-utility-gray-blue-utility-gray-blue-400: var(--colors-gray-blue-400);
  --component-colors-utility-gray-blue-utility-gray-blue-500: var(--colors-gray-blue-500);
  --component-colors-utility-gray-blue-utility-gray-blue-600: var(--colors-gray-blue-600);
  --component-colors-utility-gray-blue-utility-gray-blue-700: var(--colors-gray-blue-700);
  --component-colors-utility-green-utility-green-50: var(--colors-green-50);
  --component-colors-utility-green-utility-green-100: var(--colors-green-100);
  --component-colors-utility-green-utility-green-200: var(--colors-green-200);
  --component-colors-utility-green-utility-green-300: var(--colors-green-300);
  --component-colors-utility-green-utility-green-400: var(--colors-green-400);
  --component-colors-utility-green-utility-green-500: var(--colors-green-500);
  --component-colors-utility-green-utility-green-600: var(--colors-green-600);
  --component-colors-utility-green-utility-green-700: var(--colors-green-700);
  --component-colors-utility-blue-light-utility-blue-light-50: var(--colors-blue-light-50);
  --component-colors-utility-blue-light-utility-blue-light-100: var(--colors-blue-light-100);
  --component-colors-utility-blue-light-utility-blue-light-200: var(--colors-blue-light-200);
  --component-colors-utility-blue-light-utility-blue-light-300: var(--colors-blue-light-300);
  --component-colors-utility-blue-light-utility-blue-light-400: var(--colors-blue-light-400);
  --component-colors-utility-blue-light-utility-blue-light-500: var(--colors-blue-light-500);
  --component-colors-utility-blue-light-utility-blue-light-600: var(--colors-blue-light-600);
  --component-colors-utility-blue-light-utility-blue-light-700: var(--colors-blue-light-700);
  --component-colors-utility-blue-utility-blue-50: var(--colors-blue-50);
  --component-colors-utility-blue-utility-blue-100: var(--colors-blue-100);
  --component-colors-utility-blue-utility-blue-200: var(--colors-blue-200);
  --component-colors-utility-blue-utility-blue-300: var(--colors-blue-300);
  --component-colors-utility-blue-utility-blue-400: var(--colors-blue-400);
  --component-colors-utility-blue-utility-blue-500: var(--colors-blue-500);
  --component-colors-utility-blue-utility-blue-600: var(--colors-blue-600);
  --component-colors-utility-blue-utility-blue-700: var(--colors-blue-700);
  --component-colors-utility-blue-dark-utility-blue-dark-50: var(--colors-blue-dark-50);
  --component-colors-utility-blue-dark-utility-blue-dark-100: var(--colors-blue-dark-100);
  --component-colors-utility-blue-dark-utility-blue-dark-200: var(--colors-blue-dark-200);
  --component-colors-utility-blue-dark-utility-blue-dark-300: var(--colors-blue-dark-300);
  --component-colors-utility-blue-dark-utility-blue-dark-400: var(--colors-blue-dark-400);
  --component-colors-utility-blue-dark-utility-blue-dark-500: var(--colors-blue-dark-500);
  --component-colors-utility-blue-dark-utility-blue-dark-600: var(--colors-blue-dark-600);
  --component-colors-utility-blue-dark-utility-blue-dark-700: var(--colors-blue-dark-700);
  --component-colors-utility-indigo-utility-indigo-50: var(--colors-indigo-50);
  --component-colors-utility-indigo-utility-indigo-100: var(--colors-indigo-100);
  --component-colors-utility-indigo-utility-indigo-200: var(--colors-indigo-200);
  --component-colors-utility-indigo-utility-indigo-300: var(--colors-indigo-300);
  --component-colors-utility-indigo-utility-indigo-400: var(--colors-indigo-400);
  --component-colors-utility-indigo-utility-indigo-500: var(--colors-indigo-500);
  --component-colors-utility-indigo-utility-indigo-600: var(--colors-indigo-600);
  --component-colors-utility-indigo-utility-indigo-700: var(--colors-indigo-700);
  --component-colors-utility-purple-utility-purple-50: var(--colors-purple-50);
  --component-colors-utility-purple-utility-purple-100: var(--colors-purple-100);
  --component-colors-utility-purple-utility-purple-200: var(--colors-purple-200);
  --component-colors-utility-purple-utility-purple-300: var(--colors-purple-300);
  --component-colors-utility-purple-utility-purple-400: var(--colors-purple-400);
  --component-colors-utility-purple-utility-purple-500: var(--colors-purple-500);
  --component-colors-utility-purple-utility-purple-600: var(--colors-purple-600);
  --component-colors-utility-purple-utility-purple-700: var(--colors-purple-700);
  --component-colors-utility-fuchsia-utility-fuchsia-50: var(--colors-fuchsia-50);
  --component-colors-utility-fuchsia-utility-fuchsia-100: var(--colors-fuchsia-100);
  --component-colors-utility-fuchsia-utility-fuchsia-200: var(--colors-fuchsia-200);
  --component-colors-utility-fuchsia-utility-fuchsia-300: var(--colors-fuchsia-300);
  --component-colors-utility-fuchsia-utility-fuchsia-400: var(--colors-fuchsia-400);
  --component-colors-utility-fuchsia-utility-fuchsia-500: var(--colors-fuchsia-500);
  --component-colors-utility-fuchsia-utility-fuchsia-600: var(--colors-fuchsia-600);
  --component-colors-utility-fuchsia-utility-fuchsia-700: var(--colors-fuchsia-700);
  --component-colors-utility-pink-utility-pink-50: var(--colors-pink-50);
  --component-colors-utility-pink-utility-pink-100: var(--colors-pink-100);
  --component-colors-utility-pink-utility-pink-200: var(--colors-pink-200);
  --component-colors-utility-pink-utility-pink-300: var(--colors-pink-300);
  --component-colors-utility-pink-utility-pink-400: var(--colors-pink-400);
  --component-colors-utility-pink-utility-pink-500: var(--colors-pink-500);
  --component-colors-utility-pink-utility-pink-600: var(--colors-pink-600);
  --component-colors-utility-pink-utility-pink-700: var(--colors-pink-700);
  --component-colors-utility-orange-dark-utility-orange-dark-50: var(--colors-orange-dark-50);
  --component-colors-utility-orange-dark-utility-orange-dark-100: var(--colors-orange-dark-100);
  --component-colors-utility-orange-dark-utility-orange-dark-200: var(--colors-orange-dark-200);
  --component-colors-utility-orange-dark-utility-orange-dark-300: var(--colors-orange-dark-300);
  --component-colors-utility-orange-dark-utility-orange-dark-400: var(--colors-orange-dark-400);
  --component-colors-utility-orange-dark-utility-orange-dark-500: var(--colors-orange-dark-500);
  --component-colors-utility-orange-dark-utility-orange-dark-600: var(--colors-orange-dark-600);
  --component-colors-utility-orange-dark-utility-orange-dark-700: var(--colors-orange-dark-700);
  --component-colors-utility-orange-utility-orange-50: var(--colors-orange-50);
  --component-colors-utility-orange-utility-orange-100: var(--colors-orange-100);
  --component-colors-utility-orange-utility-orange-200: var(--colors-orange-200);
  --component-colors-utility-orange-utility-orange-300: var(--colors-orange-300);
  --component-colors-utility-orange-utility-orange-400: var(--colors-orange-400);
  --component-colors-utility-orange-utility-orange-500: var(--colors-orange-500);
  --component-colors-utility-orange-utility-orange-600: var(--colors-orange-600);
  --component-colors-utility-orange-utility-orange-700: var(--colors-orange-700);
  --colors-foreground-fg-secondary-700: var(--colors-gray-light-mode-700);
  --colors-foreground-fg-secondary_hover: var(--colors-gray-light-mode-800);
  --colors-foreground-fg-tertiary-600: var(--colors-gray-light-mode-600);
  --colors-foreground-fg-tertiary_hover: var(--colors-gray-light-mode-700);
  --colors-foreground-fg-quaternary-400: var(--colors-gray-light-mode-400);
  --colors-foreground-fg-quaternary_hover: var(--colors-gray-light-mode-500);
  --colors-foreground-fg-white: var(--colors-base-white);
  --colors-foreground-fg-disabled: var(--colors-gray-light-mode-400);
  --colors-foreground-fg-disabled_subtle: var(--colors-gray-light-mode-300);
  --colors-foreground-fg-brand-primary-600: var(--colors-brand-500);
  --colors-foreground-fg-brand-primary_alt: var(--colors-foreground-fg-brand-primary-600);
  --colors-foreground-fg-brand-secondary-500: var(--colors-brand-500);
  --colors-foreground-fg-brand-secondary_alt: var(--colors-foreground-fg-brand-secondary-500);
  --colors-foreground-fg-brand-secondary_hover: var(--colors-brand-600);
  --colors-foreground-fg-error-primary: var(--colors-error-600);
  --colors-foreground-fg-error-secondary: var(--colors-error-500);
  --colors-foreground-fg-warning-primary: var(--colors-warning-600);
  --colors-foreground-fg-warning-secondary: var(--colors-warning-500);
  --colors-foreground-fg-success-primary: var(--colors-success-600);
  --colors-foreground-fg-success-secondary: var(--colors-success-500);
  --colors-background-bg-primary: var(--colors-base-white);
  --colors-effects-focus-rings-focus-ring: var(--colors-brand-500);
  --colors-effects-focus-rings-focus-ring-error: var(--colors-error-500);
  --colors-effects-shadows-shadow-xs: #0A0D120D;
  --colors-effects-portfolio-mockups-shadow-main-centre-md: #0A0D1224;
  --colors-effects-portfolio-mockups-shadow-main-centre-lg: #0A0D122E;
  --colors-effects-portfolio-mockups-shadow-overlay-lg: #0A0D121F;
  --colors-effects-portfolio-mockups-shadow-grid-md: #0A0D1214;
  --colors-effects-shadows-shadow-sm_01: #0A0D121A;
  --colors-effects-shadows-shadow-sm_02: #0A0D121A;
  --colors-effects-shadows-shadow-md_01: #0A0D121A;
  --colors-effects-shadows-shadow-md_02: #0A0D120F;
  --colors-effects-shadows-shadow-lg_01: #0A0D1214;
  --colors-effects-shadows-shadow-lg_02: #0A0D1208;
  --colors-effects-shadows-shadow-lg_03: #0A0D120A;
  --colors-effects-shadows-shadow-xl_01: #0A0D1214;
  --colors-effects-shadows-shadow-xl_02: #0A0D1208;
  --colors-effects-shadows-shadow-xl_03: #0A0D120A;
  --colors-effects-shadows-shadow-2xl_01: #0A0D122E;
  --colors-effects-shadows-shadow-2xl_02: #0A0D120A;
  --colors-effects-shadows-shadow-3xl_01: #0A0D1224;
  --colors-effects-shadows-shadow-3xl_02: #0A0D120A;
  --colors-effects-shadows-shadow-skeumorphic-inner: #0A0D120D;
  --colors-effects-shadows-shadow-skeumorphic-inner-border: #0A0D122E;
  --colors-background-bg-primary_alt: var(--colors-base-white);
  --colors-background-bg-primary_hover: var(--colors-gray-light-mode-50);
  --colors-background-bg-primary-solid: var(--colors-gray-light-mode-950);
  --colors-background-bg-secondary: var(--colors-gray-light-mode-50);
  --colors-background-bg-secondary_alt: var(--colors-gray-light-mode-50);
  --colors-background-bg-secondary_hover: var(--colors-gray-light-mode-100);
  --colors-background-bg-secondary_subtle: var(--colors-gray-light-mode-25);
  --colors-background-bg-secondary-solid: var(--colors-gray-light-mode-600);
  --colors-background-bg-tertiary: var(--colors-gray-light-mode-100);
  --colors-background-bg-quaternary: var(--colors-gray-light-mode-200);
  --colors-background-bg-active: var(--colors-gray-light-mode-50);
  --colors-background-bg-disabled: var(--colors-gray-light-mode-100);
  --colors-background-bg-disabled_subtle: var(--colors-gray-light-mode-50);
  --colors-background-bg-overlay: var(--colors-gray-light-mode-950);
  --colors-background-bg-brand-primary: var(--colors-brand-50);
  --colors-background-bg-brand-primary_alt: var(--colors-brand-50);
  --colors-background-bg-brand-secondary: var(--colors-brand-100);
  --colors-background-bg-brand-solid: var(--colors-brand-600);
  --colors-background-bg-brand-solid_hover: var(--colors-brand-700);
  --colors-background-bg-brand-section: var(--colors-brand-800);
  --colors-background-bg-brand-section_subtle: var(--colors-brand-700);
  --colors-background-bg-error-primary: var(--colors-error-50);
  --colors-background-bg-error-secondary: var(--colors-error-100);
  --colors-background-bg-error-solid: var(--colors-error-600);
  --colors-background-bg-error-solid_hover: var(--colors-error-700);
  --colors-background-bg-warning-primary: var(--colors-warning-50);
  --colors-background-bg-warning-secondary: var(--colors-warning-100);
  --colors-background-bg-warning-solid: var(--colors-warning-600);
  --colors-background-bg-success-primary: var(--colors-success-50);
  --colors-background-bg-success-secondary: var(--colors-success-100);
  --colors-background-bg-success-solid: var(--colors-success-600);
  --component-colors-utility-yellow-utility-yellow-50: var(--colors-yellow-50);
  --component-colors-utility-yellow-utility-yellow-100: var(--colors-yellow-100);
  --component-colors-utility-yellow-utility-yellow-200: var(--colors-yellow-200);
  --component-colors-utility-yellow-utility-yellow-300: var(--colors-yellow-300);
  --component-colors-utility-yellow-utility-yellow-400: var(--colors-yellow-400);
  --component-colors-utility-yellow-utility-yellow-500: var(--colors-yellow-500);
  --component-colors-utility-yellow-utility-yellow-600: var(--colors-yellow-600);
  --component-colors-utility-yellow-utility-yellow-700: var(--colors-yellow-700);
  --colors-background-black-white: #FFFFFFFF;

  --colors-foreground-fg-brand-primary-500: var(--colors-brand-500);

  --colors-background-bg-main: var(--colors-background-bg-primary, #FFF);
--custom-button-gray-border: #E6E6E6
}