.light-mode
{
  --text-color: #292929;
  --text-color-second: #292929;
  --text-color-second-dark: #8c8c8c;

  --icon-color: rgba(140, 140, 140, 1);
  --icon-color-light: #000000;


  --bg-color-rgb-consts: 255, 255, 255;
  --bg-color: rgb(var(--bg-color-rgb-consts));

  --layout-bg-color: #E6E6E6;

  --bg-color-second-rgb-consts: 247, 247, 247;
  --bg-color-second: rgb(var(--bg-color-second-rgb-consts));

  --border-color-light: #E6E6E6;
  --border-color: #292929;
  --bg-hover-color: #E6E6E6;

  --tag-bg-color: #E6E6E6;

  --section-border: 1px solid var(--border-color-light);
  --border: 1px solid #CCC;
  --header-border: 1px solid #CCC;

  //Mobile-Menu
  --mobile-menu-bg-color:  rgba(var(--bg-color-rgb-consts), 0.9);
  --box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.15);

  //colors
  --popup-bg-color: #fff;
  --popup-contrast-color: #E6E6E6;
  --popup-hover-color: #F2F2F2

}