/*
◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
This is the main (global) css file used throughout the project - that                  ◼️
sets out the general desing language, such as: margins/paddings/colors that            ◼️
are generally used throughout the project in a consistant and repetetive manner.       ◼️
◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
> Version | 0.5                                                                        ◼️
◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
*/

/* #region ➤ [MAIN] Website Layout */

body,
html {
	margin: 0 !important;
	background-color: var(--white);
	scroll-behavior: smooth !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	/* margin: 0 0 0.5em 0; */
	font-weight: 400;
	line-height: 1.2;
}

body {
	color: var(--black);
	background-color: var(--whitev2);
	margin: 0 !important;
	font-family: Roboto;
	font-size: 14px;
	line-height: 1.5;
	/*
    MOBILE
    disable pinchin & user zooming on */
	/* touch-action: pan-x pan-y; */
	/*
    SAFARI */
	-webkit-text-size-adjust: none;
}
body.disable-scroll
{
  /* 🎨 style */
  overflow: hidden;
  height: 100%;
}

* {
	box-sizing: border-box;
}

a
{
	text-decoration: none !important;
	color: inherit;
	display: flex;
}
a.disable-anchor
{
  pointer-events: none;
}

.inter-font
{
  font-family: Inter;
}

p {
	font-style: normal;
	font-weight: 400; /* 400 / 500 */
	line-height: 150%;
	margin: 0;
	color: var(--dark-theme);
}

/* ... MOBILE VIEW OVERFLOW HIDDEN ... */
@media only screen and (max-width: 375px) {
	html,
	body {
		overflow-x: hidden;
	}
}

/*
### NOTE:
### zoom-out-mobiles-input-form
### SEE:
### https://stackoverflow.com/questions/2989263/disable-auto-zoom-in-input-text-tag-safari-on-iphone
*/
@supports (-webkit-overflow-scrolling: touch)
{
  form input:active,
	input:active
  {
		font-size: 16px !important;
	}
}

/* #endregion ➤ [MAIN] Website Layout */

/* #region ➤ [MAIN] [ROOT] Layout */

/*
### NOTE:
### Betarena Scores 'root:' values.
### SEE:
### https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties
*/
:root
{
	/*
  ◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
  ◼️ DIMENSIONS                   ◼️
  ◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
  */
	--app-height: 100%;
	/*
  ◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
	◼️ MAIN / LIGHT THEME COLORS    ◼️
  ◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
  */
	--white: #ffffff;
	--whitev2: #f2f2f2;
  --white-3: #F7F7F7;
  --white-4: #D9D9D9;
	--primary: #f5620f;
	--primary-fade: #f77c42;
  --primary-fade-2: #D25E27;
	--secondary: #37474f;
	--blue: #0085ff;
	--red: #c62828;
	--red-bright: #ff3c3c;
  --red-bright-v2: #FF5F5F;
  --red-error: #ff0000;
  --green-success: #009406;
  --green-color: #59C65D;
	--theme-color: #e3e3e3;
	--grey-color: #e6e6e6;
	--grey-shade: #cccccc;
  --grey-shade-2: #a8a8a8;
  --grey-shade-3: #C1C1C1;
  --grey-shade-4: #7E7E7E;
  --yellow-gold: #FFB904;
	/*
  ◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
	◼️ DARK THEME COLORS            ◼️
  ◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
  */
	--black: #000000;
	--dark: #121212;
	--grey: #8c8c8c;
	--background-surface: #121212;
	--dark-theme: #292929;
	--dark-theme-1: #4b4b4b;
  --dark-theme-1-shade: #616161;
  --dark-theme-1-2-shade: #737373;
  --dark-theme-1-3-shade: #999999;
  --dark-theme-1-4-shade: #383838;
  --dark-theme-1-5-shade: #161616;
  --dark-theme-1-5-shade-o-0-2: rgba(22, 22, 22, 0.2);
	/*
  ◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
  ◼️ ### breakpoints
  ◼️ ### NOTE: don't work with @media... queries
  ◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
  */
	--mobile: 375;
	--tablet: 767;
	--desktop: 1440;
	/*
  ◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
  ◼️ OTHER FADE COLORS            ◼️
  ◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
  */
	--oragne-pale-bg: rgba(247, 124, 66, 0.2);

  --header-is-mobile: false;
}

/* #endregion ➤ [MAIN] [ROOT] Layout */

/* #region ➤ [MAIN] [FONT] [COLORS] [TEXT] Website Layout */

/*
◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
📌 HEADINGS                                                                            ◼️
◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
*/

h1 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 140%;
}
h2 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 150%;
}
h3 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 150%;
}
h4 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
}
h5 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 150%;
}

.global.lh-125 > *
{
  /* 🎨 style */
  line-height: 125%;
}
.global.lh-128 > *
{
  /* 🎨 style */
  line-height: 128.571%;
}

/*
◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
◼️ FONT COLOURS                                                                         ◼️
◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
*/

.color-primary
{
  /* 🎨 style */
	color: var(--primary) !important;
}
.color-primary-fade-2
{
  /* 🎨 style */
	color: var(--primary-fade-2) !important;
}
.color-black-2
{
  /* 🎨 style */
	color: var(--dark-theme);
}
.color-secondary
{
  /* 🎨 style */
	color: var(--secondary);
}
.color-grey,
.global.color-grey > p
{
  /* 🎨 style */
	color: var(--grey) !important;
}
.color-grey-v2
{
  /* 🎨 style */
	color: var(--grey-shade-4) !important;
}
.color-red
{
  /* 🎨 style */
	color: var(--red);
}
.color-red-bright
{
  /* 🎨 style */
	color: var(--red-bright) !important;
}
.color-red-bright-v2
{
  /* 🎨 style */
	color: var(--red-bright-v2) !important;
}
.color-white
{
  /* 🎨 style */
	color: var(--white);
}
.color-blue
{
  /* 🎨 style */
	color: var(--blue);
}
.color-grey-shade
{
  /* 🎨 style */
	color: var(--grey-shade);
}
.color-blue-green-gradient
{
  /* 🎨 style */
	background: -webkit-linear-gradient
  (
		rgba(0, 255, 117, 1),
		rgba(0, 163, 255, 1)
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.color-error
{
  /* 🎨 style */
	color: var(--red-error);
}
.color-success
{
  /* 🎨 style */
	color: var(--green-success);
}
.color-green
{
  /* 🎨 style */
	color: var(--green-color) !important;
}
.color-yellow
{
  /* 🎨 style */
	color: var(--yellow-gold);
}

/*
ON HOVER COLORS
*/

.hover-color-primary:hover
{
  /* 🎨 style */
	color: var(--primary) !important;
}

/*
◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
◼️ FONT EXTRA STYLES                                                                    ◼️
◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
*/

.no-wrap
{
	white-space: nowrap;
}
.underline
{
	text-decoration: underline !important;
}
.bold
{
	font-style: normal;
	font-weight: bold;
}
.not-bold
{
	font-weight: normal;
}
.lowercase
{
	text-transform: lowercase;
}
.uppercase
{
	text-transform: uppercase;
}
.capitalize
{
  text-transform: capitalize;
}
.text-center
{
	text-align: center;
	text-align: -webkit-center;
	text-align: -moz-center;
}
.text-left
{
	text-align: left;
	text-align: -webkit-left;
	text-align: -moz-left;
}
.text-right
{
	text-align: right;
	text-align: -webkit-right;
	text-align: -moz-right;
}
.place-center
{
	place-self: center;
}
.cursor-pointer
{
	cursor: pointer;
}
.cursor-not-allowed
{
	cursor: not-allowed !important;
}
.display-none
{
	display: none !important;
}
.display-unset
{
  display: unset !important;
}
.visibility-none
{
  visibility: hidden;
}
.opacity-0-4
{
  opacity: 0.4;
}

/*
◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
◼️ FONT WEIGHT                                                                          ◼️
◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
*/

.w-400
{
	font-weight: 400;
}
.w-500
{
	font-weight: 500;
}
.w-600
{
	font-weight: 600;
}
.w-700
{
	font-weight: 700;
}
.w-normal
{
	font-weight: normal;
}

/*
◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
◼️ FONT SIZE                                                                            ◼️
◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
*/

.s-10
{
	font-size: 10px;
}
.s-12
{
	font-size: 12px;
}
.s-14
{
	font-size: 14px;
}
.s-16,
.global.s-16,
.global.s-16 > *
{
	font-size: 16px;
}
.s-18,
.global.s-18,
.global.s-18 > *
{
	font-size: 18px;
}
.s-19
{
	font-size: 19px;
}
.s-20,
.global.s-20,
.global.s-20 > *
{
	font-size: 20px;
}
.s-22
{
	font-size: 22px;
}
.s-24,
.global.s-24,
.global.s-24 > *
{
	font-size: 24px;
}
.s-28,
.global.s-28,
.global.s-28 > *
{
	font-size: 28px;
}
.s-32
{
	font-size: 32px;
}
.s-42
{
	font-size: 42px;
}

.x-large,
p.x-large,
span.x-large {
	font-size: 18px;
}
.large,
p.large,
span.large {
	font-size: 16px;
}
.medium,
p.medium,
span.medium {
	font-size: 14px;
}
.small,
p.small {
	font-size: 12px;
}
.s_small,
p.s_small {
	font-size: 12px;
}

@media only screen and (min-width: 768px) {
	.s-t-16 {
		font-size: 16px;
	}

	.large,
	p.large,
	span.large {
		font-size: 18px;
	}
}

/* #endregion ➤ [MAIN] [FONT] [COLORS] [TEXT] Website Layout */

/* #region ➤ [MAIN] [MARGINS] Website Layout */

/*
◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
◼️ PRESET ALL MARGINS                                                                   ◼️
◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
*/

.m-0
{
	margin: 0;
}

/*
◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
◼️ TOP MARGINS                                                                          ◼️
◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
*/

.m-t-5
{
	margin-top: 5px;
}
.m-t-8
{
	margin-top: 8px;
}
.m-t-10
{
	margin-top: 10px;
}
.m-t-15
{
	margin-top: 15px;
}
.m-t-20
{
	margin-top: 20px;
}
.m-t-25
{
	margin-top: 25px;
}
.m-t-30
{
	margin-top: 30px;
}
.m-t-35
{
	margin-top: 35px;
}
.m-t-40
{
	margin-top: 40px;
}
.m-t-45
{
	margin-top: 45px;
}
.m-t-80
{
	margin-top: 80px;
}

/*
◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
◼️ RIGHT MARGINS                                                                        ◼️
◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
*/

.m-r-5
{
	margin-right: 5px;
}
.m-r-6
{
	margin-right: 6px;
}
.m-r-8
{
	margin-right: 8px;
}
.m-r-10
{
	margin-right: 10px;
}
.m-r-12
{
	margin-right: 12px;
}
.m-r-15
{
	margin-right: 15px;
}
.m-r-16
{
	margin-right: 16px;
}
.m-r-20
{
	margin-right: 20px;
}
.m-r-24
{
	margin-right: 24px;
}
.m-r-30
{
	margin-right: 30px;
}
.m-r-32
{
	margin-right: 32px;
}
.m-r-40
{
	margin-right: 40px;
}
.m-r-64
{
	margin-right: 64px;
}

/*
◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
◼️ BOTTOM MARGINS                                                                       ◼️
◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
*/

.m-b-3
{
	margin-bottom: 3px;
}
.m-b-5
{
	margin-bottom: 5px;
}
.m-b-8
{
	margin-bottom: 8px;
}
.m-b-10
{
	margin-bottom: 10px;
}
.m-b-12
{
	margin-bottom: 12px;
}
.m-b-15
{
	margin-bottom: 15px;
}
.m-b-16
{
	margin-bottom: 16px;
}
.m-b-20
{
	margin-bottom: 20px;
}
.m-b-24
{
	margin-bottom: 24px;
}
.m-b-25
{
	margin-bottom: 25px;
}
.m-b-30
{
	margin-bottom: 30px;
}
.m-b-35
{
	margin-bottom: 35px;
}
.m-b-40
{
	margin-bottom: 40px;
}
.m-b-50
{
	margin-bottom: 50px;
}
.m-b-55
{
	margin-bottom: 55px;
}

/*
◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
◼️ LEFT MARGINS                                                                         ◼️
◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
*/

.m-l-5
{
	margin-left: 5px;
}
.m-l-8
{
	margin-left: 8px;
}
.m-l-10
{
	margin-left: 10px;
}
.m-l-20
{
	margin-left: 20px;
}
.m-l-24
{
	margin-left: 24px;
}
.m-l-50
{
  margin-left: 50px;
}
.m-l-70
{
  margin-left: 70px;
}

/* #endregion ➤ [MAIN] [MARGINS] Website Layout */

/* #region ➤ [MAIN] [CONTAINERS] Website Layout */

/*
##########################
CONTAINER & SECTION STYLES
##########################
*/

.widget-component {
  display: grid;
  background: #ffffff;
  box-shadow: 0px 4px 16px rgb(0 0 0 / 8%);
  border-radius: 12px;
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
}

section {
	min-height: calc(100vh - 128px);
	padding: 22px 16px;
	padding-bottom: 100px !important;
	margin: auto;
}
@media only screen and (min-width: 768px) {
	section {
		padding: 26px 34px;
		margin: auto;
	}
}
@media only screen and (min-width: 1025px) {
	section {
		padding: 26px 34px;
		margin: auto;
	}
}

/*
FLEX DISPLAYS
*/
.row-space-out {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	width: 100%;
	flex-direction: row;
	flex-wrap: nowrap;
}
.row-space-even {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-evenly;
	width: 100%;
	flex-direction: row;
	flex-wrap: nowrap;
}
.row-space-start {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: start;
	width: 100%;
	flex-direction: row;
	flex-wrap: nowrap;
}
.row-space-out-top {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
}
.row-space-center {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	width: 100%;
	flex-direction: row;
	flex-wrap: nowrap;
}
.row-space-end {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: end;
	width: 100%;
	flex-direction: row;
	flex-wrap: nowrap;
}

/*
============
GRID / COLUMN DISPLAY
============
*/
.column-space-center {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	width: 100%;
	flex-direction: column;
	flex-wrap: nowrap;
}
.column-space-start {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: flex-start;
	width: 100%;
	flex-direction: column;
	flex-wrap: nowrap;
}
.column-space-stretch {
	display: flex;
	align-content: center;
	width: 100%;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: stretch;
	justify-content: center;
}
.column-start-grid {
	display: grid;
	justify-content: center;
}
.column-start-grid-start {
	display: grid;
	width: 100%;
	justify-items: start;
}

/* #endregion ➤ [MAIN] [CONTAINERS] Website Layout */

/* #region ➤ [MAIN] [BUTTONS] Website Layout */

/*
*****************************************************
📌 BUTTON STYLES                                    *
*****************************************************
*/

button
{
	/*
  removing pre-set CSS,
  */
	outline: none !important;
	border: none !important;
	/*
  general button design,
  */
	/* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); */
	/* padding: 5px 10px !important; */
	/* border-radius: 3.5px; */
	opacity: 1;
	cursor: pointer;
	transition: all 0.3s ease;
	align-items: center;
	/*
  fonts
  */
	white-space: nowrap;
	/*
  for the icons separation
  */
	display: flex;
	justify-content: center;
}
button:disabled
{
	cursor: default;
}

.btn-primary
{
  /* 🎨 style */
	background: var(--primary);
}
.btn-primary p
{
  /* 🎨 style */
	color: var(--white);
}

.btn-secondary
{
  /* 🎨 style */
	background: var(--secondary);
}
.btn-secondary p
{
  /* 🎨 style */
	color: var(--white);
}

.btn-blue
{
  /* 🎨 style */
	background-color: var(--blue);
}
.btn-blue p
{
  /* 🎨 style */
	color: var(--white);
}
.btn-blue:hover
{
  /* 🎨 style */
	background-color: var(--white);
}
.btn-blue:hover p
{
  /* 🎨 style */
	color: var(--secondary);
}

.btn-white
{
  /* 🎨 style */
	background-color: var(--white);
}
.btn-white p
{
  /* 🎨 style */
	color: var(--black);
}

.btn-primary-v2
{
  /* 🎨 style */
	height: 44px;
	padding: 11.5px 24px;
	background: var(--primary);
	border-radius: 8px;
	color: var(--white);
}
.btn-primary-v2:hover
{
  /* 🎨 style */
	background-color: var(--primary-fade);
}

.btn-hollow
{
  /* 🎨 style */
	height: 44px;
	padding: 11.5px 20px;
	background: transparent;
	border: 1px solid var(--grey-color) !important;
	border-radius: 8px;
	color: var(--dark-theme);
}
.btn-hollow:hover
{
  /* 🎨 style */
	border: 1px solid var(--primary) !important;
	color: var(--primary);
}
/*
  Variant (2)
*/
.btn-hollow.danger
{
  /* 🎨 style */
	border: 1px solid var(--red) !important;
}
/*
  Variant (3)
*/
.btn-hollow.cta
{
  /* 🎨 style */
	border: 1px solid var(--primary) !important;
}
.btn-hollow.cta:hover
{
  /* 🎨 style */
  background-color: var(--primary);
	color: var(--white) !important;
}

.btn-right-icon
{
  /* 🎨 style */
	padding: 5px 45px 5px 6px !important;
	background-position: right 11px top 50%;
	background-size: 16.17px 16.17px;
	background-repeat: no-repeat;
}
.btn-left-icon
{
  /* 🎨 style */
	padding: 5px 6px 5px 37px !important;
	background-position: left 11px top 50%;
	background-size: 16.17px 16.17px;
	background-repeat: no-repeat;
}

/* #endregion ➤ [MAIN] [BUTTONS] Website Layout */

/* #region ➤ [MAIN] [ANIMATIONS] Website Layout */

@keyframes flickerAnimation {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.25;
	}
	100% {
		opacity: 1;
	}
}
@-o-keyframes flickerAnimation {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.25;
	}
	100% {
		opacity: 1;
	}
}
@-moz-keyframes flickerAnimation {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.25;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes flickerAnimation {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.25;
	}
	100% {
		opacity: 1;
	}
}
.animation-target {
	-webkit-animation: flickerAnimation 1.5s
		infinite;
	-moz-animation: flickerAnimation 1.5s infinite;
	-o-animation: flickerAnimation 1.5s infinite;
	animation: flickerAnimation 1.5s infinite;
}

/* #endregion ➤ [MAIN] [ANIMATIONS] Website Layout */

/* #region ➤ [MAIN] [OTHER STYLES] Website Layout */

/*
=============
page dividers
=============
*/

hr
{
	width: 100%;
	margin: 16.17px 0;
	opacity: 0.25;
	border: 1.46983px solid #ff5555;
	background-color: #ff5555;
}

/*
=============
INPUT FORM CSS STYLE
=============
*/

form fieldset
{
	outline: none;
	border: none;
	padding: 0;
	margin: 0;
}
form input,
form select
{
	outline: none;
	border: none;
	opacity: 1;
	cursor: text;
	align-items: center;
	text-align: start;
	display: flex;
	transition: all 0.15s ease;
	/* background: #ffffff; */
	/* border: 0.5px solid #37474f; */
	box-sizing: border-box;
	border-radius: 7.34914px;
	padding: 7px;
  background-color: transparent;
  border: 1px solid var(--gray-day, #CCC);
}

input
{
  /* 🎨 style */
  height: 44px;
  width: -webkit-fill-available;
  width: -moz-available;
  border: 1px solid var(--grey-shade);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 20px 12px;
  outline: none;
  font-size: 14px;
  background-color: transparent;
}
input:hover
{
  /* 🎨 style */
  border: 1px solid var(--grey);
}
input:focus
{
  /* 🎨 style */
  border: 1px solid var(--dark-theme-1);
}
input[placeholder]
{
  /* 🎨 style */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

input.v-1
{
  /* 🎨 style */
  width: 20px;
  height: 20px;
  border: 1px solid #CCCCCC;
  accent-color: var(--primary);
}

.width-auto
{
  width: auto;
}
.width-fit-content
{
  width: fit-content;
}
.width-100
{
  width: 100%;
}

img.google-aspect-ratio
{
  /* 🎨 style */
  /* width: auto; */
  /* max-height: 100%; */
  object-fit: contain;
}

.hover\/transition\/v-1,
.hover-transition-v-1
{
  /* 🎨 style */
  transition: all 0.15s ease;
}

/* #endregion ➤ [MAIN] [OTHER STYLES] Website Layout */

/* #region ➤ [MAIN] [DARK MODE (OVERRIDES) STYLES] Website Layout */

/*
◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
◼️ DARK-THEME :: GENERAL                                                                ◼️
◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
*/

.dark-background
{
  /* 🎨 style */
	background-color: var(--dark-theme) !important;
}
.dark-background-1
{
  /* 🎨 style */
	background-color: var(--dark-theme-1) !important;
}

/*
◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
◼️ DARK-THEME :: FONT COLOURS                                                           ◼️
◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
*/

.dark-background .color-primary-fade-2.dark-v0,
.dark-background-1 .color-primary-fade-2.dark-v0
{
  /* 🔥 override */
  /* 🎨 style */
	color: var(--primary-fade-2) !important;
}

.dark-background .color-grey,
.dark-background-1 .color-grey
{
  /* 🎨 style */
	color: var(--grey-shade-2) !important;
}

.dark-background .color-grey.dark-white-v1,
.dark-background-1 .color-grey.dark-white-v1
{
  /* 🔥 override */
  /* 🎨 style */
	color: var(--white) !important;
}

.dark-background .color-grey.dark-white-v3,
.dark-background-1 .color-grey.dark-white-v3
{
  /* 🔥 override */
  /* 🎨 style */
	color: var(--white-3) !important;
}

.dark-background .color-black-2,
.dark-background-1 .color-black-2
{
  /* 🎨 style */
	color: var(--white) !important;
}

.dark-background .color-black-2.grey-v1,
.dark-background-1 .color-black-2.grey-v1
{
  /* 🔥 override */
  /* 🎨 style */
	color: var(--grey-shade) !important;
}

.dark-background .color-grey-v2.grey-v1,
.dark-background-1 .color-grey-v2.grey-v1
{
  /* 🔥 override */
  /* 🎨 style */
	color: var(--grey-shade-3) !important;
}

.dark-background .color-primary,
.dark-background-1 .color-primary
{
  /* 🎨 style */
	color: var(--primary) !important;
}

.dark-background .color-green.dark-v0,
.dark-background-1 .color-green.dark-v0
{
  /* 🔥 override */
  /* 🎨 style */
	color: var(--green-color) !important;
}

/*
◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
◼️ DARK-THEME :: COMPONENT / WIDGET OVERRIDES                                           ◼️
◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
*/

.dark-background .widget-component
{
  /* 🎨 style */
	background-color: var(--dark-theme-1) !important;
}

/*
◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
◼️ DARK-THEME :: HTML ELEMENTS OVERRIDES                                                ◼️
◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
*/

.dark-background-1 input
{
  border: 1px solid var(--dark-theme-1-2-shade);
}
.dark-background-1 input:hover
{
  /* 🎨 style */
  border: 1px solid var(--dark-theme-1-3-shade);
}
.dark-background-1 input:focus
{
  /* 🎨 style */
  border: 1px solid var(--dark-theme-1-3-shade);
}

/*
◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
◼️ DARK-THEME :: OTHER                                                                  ◼️
◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️
*/

.dark-background .hover-color-primary:hover,
.dark-background-1 .hover-color-primary:hover
{
  /* 🎨 style */
	color: var(--primary) !important;
}

.dark-background .btn-hollow.v2,
.dark-background-1 .btn-hollow.v2
{
  /* 🎨 style */
	border: 1px solid var(--dark-theme-1) !important;
}

/* #endregion ➤ [MAIN] [DARK MODE (OVERRIDES) STYLES] Website Layout */
