/* Error: expected "{".
 *     ,
 * 191 |   --colors-text-text-primary_on-brand: var(--colors-brand-500);
 *     |                                                               ^
 *     '
 *   static\scss\themes\dark.scss 191:63  @import
 *   static\app.scss 23:9                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 191 \2502    --colors-text-text-primary_on-brand: var(--colors-brand-500);\d\a     \2502                                                                ^\a     \2575 \a   static\\scss\\themes\\dark.scss 191:63  @import\a   static\\app.scss 23:9                 root stylesheet';
}
