/* #region ➤ [MAIN] [BUTTONS] Website Layout */

/*
╭──────────────────────────────────────────────────────────────────╮
│ 📌 BUTTON STYLES                                                 │
╰──────────────────────────────────────────────────────────────────╯
*/

button
{
  /* 🎨 style */
  outline: none !important;
  border: none !important;
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s ease;
  align-items: center;
  white-space: nowrap;
  display: flex;
  justify-content: center;

  &:disabled
  {
    cursor: default;
  }

  &.btn-primary
  {
    /* 🎨 style */
    background: var(--primary);

    p
    {
      /* 🎨 style */
      color: var(--white);
    }
  }

  &.btn-secondary
  {
    /* 🎨 style */
    background: var(--secondary);

    p
    {
      /* 🎨 style */
      color: var(--white);
    }
  }

  &.btn-blue
  {
    /* 🎨 style */
    background-color: var(--blue);

    p
    {
      /* 🎨 style */
      color: var(--white);
    }

    &:hover
    {
      /* 🎨 style */
      background-color: var(--white);

      p
      {
        /* 🎨 style */
        color: var(--secondary);
      }
    }
  }

  &.btn-white
  {
    /* 🎨 style */
    background-color: var(--white);

    p
    {
      /* 🎨 style */
      color: var(--black);
    }
  }

  &.btn-primary-v2
  {
    /* 🎨 style */
    height: 44px;
    padding: 11.5px 24px;
    background: var(--primary);
    border-radius: 8px;
    color: var(--white);

    &:hover
    {
      /* 🎨 style */
      background-color: var(--primary-fade);
    }
  }

  &.btn-hollow
  {
    /* 🎨 style */
    height: 44px;
    padding: 11.5px 20px;
    background: transparent;
    border: 1px solid var(--grey-color) !important;
    border-radius: 8px;
    color: var(--dark-theme);

    &:hover
    {
      /* 🎨 style */
      border: 1px solid var(--primary) !important;
      color: var(--primary);
    }

    /*
    Variant (2)
    */
    &.danger
    {
      /* 🎨 style */
      border: 1px solid var(--red) !important;
    }

    /*
    Variant (3)
    */
    &.cta
    {
      /* 🎨 style */
      border: 1px solid var(--primary) !important;

      &:hover
      {
        /* 🎨 style */
        background-color: var(--primary);
        color: var(--white) !important;
      }
    }

    /*
    Variant (4)
    */
    &.v4:hover
    {
      /* 🎨 style */
      border: 1px solid var(--grey-shade) !important;
      color: initial;
    }

    /*
    Variant (6)
    */
    &.v6
    {
      /* 🎨 style */
      background: #292929;
      height: 44px;
      padding: 12px 24px 11px 24px;
      border-radius: 8px;
      border: 1px;
      gap: 10px;

      .dark-background &
      , .dark-background-1 &
      , .dark-mode &
      {
        /* 🎨 style */
        border: 1px solid #FFFFFF
      }
    }

    .dark-background &
    , .dark-background-1 &
    , .dark-mode &
    {
      &.v2
      {
        /* 🎨 style */
        border: 1px solid var(--dark-theme-1) !important;
      }

      &.v3d
      {
        /* 🎨 style */
        border: 1px solid var(--grey) !important;

        &:hover
        {
          /* 🎨 style */
          border: 1px solid var(--grey-shade) !important;
        }
      }

      &.v5d
      {
        /* 🎨 style */
        border: 1px solid var(--dark-theme-1-shade) !important;
      }
    }
  }

  &.btn-dark
  {
    /* 🎨 style */
    padding: 10px 17px;
    border-radius: 12px;
    background-color: var(--grey-color);

    &:hover
    {
      /* 🎨 style */
      background-color: var(--white-3);
    }

    .dark-background &
    , .dark-background-1 &
    , .dark-mode &
    {
      /* 🎨 style */
      background-color: var(--dark-theme-1-4-shade);

      &:hover
      {
        /* 🎨 style */
        background-color: var(--dark-theme);
      }
    }
  }

  &.btn-right-icon
  {
    /* 🎨 style */
    padding: 5px 45px 5px 6px !important;
    background-position: right 11px top 50%;
    background-size: 16.17px 16.17px;
    background-repeat: no-repeat;
  }

  &.btn-left-icon
  {
    /* 🎨 style */
    padding: 5px 6px 5px 37px !important;
    background-position: left 11px top 50%;
    background-size: 16.17px 16.17px;
    background-repeat: no-repeat;
  }

  /*
  ╭──────────────────────────────────────────────────────────────────╮
  │ 📌 EXTRA BUTTON STYLES                                           │
  ╰──────────────────────────────────────────────────────────────────╯
  */

  &.btn-shadow-1
  {
    /* 🎨 style */
    box-shadow: 0px 3px 8px 0px rgba(212, 84, 12, 0.32);
  }
}

/* #endregion ➤ [MAIN] [BUTTONS] Website Layout */