/* #region ➤ [MAIN] [CONTAINERS] Website Layout */

.widget-component
{
  display: grid;
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  width: 100%;
  padding: 20px 0;
  overflow: hidden;

  .dark-background &
  , .dark-mode &
  {
    /* 🎨 style */
    background-color: var(--dark-theme-1) !important;
  }
}

.container
{
  display: block;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  & input
  {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 1px;
    width: 1px;

    &:checked ~ .checkmark
    {
      background-color: var(--primary);
      border: 1.5px solid transparent;
    }
  }
}

.row
{
  @mixin default
  {
    /* 🎨 style */
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &-space-out
  {
    @include default;
    justify-content: space-between;
  }

  &-space-even
  {
    @include default;
    justify-content: space-evenly;
  }

  &-space-start
  {
    @include default;
    justify-content: start;
  }

  &-space-out-top
  {
    @include default;
    align-items: flex-start;
    justify-content: space-between;
  }

  &-space-center
  {
    @include default;
    justify-content: center;
  }

  &-space-end
  {
    @include default;
    justify-content: end;
  }

}

.column
{
  &-space-center
  {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  &-space-start
  {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  &-space-stretch
  {
    display: flex;
    align-content: center;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
  }

  &-start-grid
  {
    display: grid;
    justify-content: center;
  }

  &-start-grid-start
  {
    display: grid;
    width: 100%;
    justify-items: start;
  }
}

/* #endregion ➤ [MAIN] [CONTAINERS] Website Layout */