.dark-mode
{
  --text-color: #FFFFFF;
  --text-color-second: #CCCCCC;
  --bg-color: #292929;
  --bg-color-second: #313131;
  --border-color-light: #4B4B4B;
  --border-color: #4B4B4B;
  --bg-hover-color: #4B4B4B;

  --tag-bg-color: #4B4B4B;

  --section-border: 1px solid var(--border-color);
}