.light-mode
{
  --text-color: #292929;
  --text-color-second: #292929;
  --bg-color: #FFF;
  --bg-color-second: #F7F7F7;
  --border-color-light: #CCCCCC;
  --border-color: #292929;
  --bg-hover-color: #E6E6E6;

  --tag-bg-color: #E6E6E6;
}